{% if section.blocks.size > 0 %}
	<div class="about_market_price_section">
		<div class="container">
      		{% if section.settings.section_heading != blank %}
              <div class="section_heading">
                  <h2>{{ section.settings.section_heading }}</h2>
              </div>  
          	{% endif %}
          	{% assign colcum =  12 | divided_by: section.blocks.size %}
          	<div class="row">
          		{% for block in section.blocks %}
              		<div class="col-md-{{colcum}}">
              			<div class="market_price_inner">
                          	{% if block.settings.image != blnak %}
                          		<img src="{{ block.settings.image | img_url:"master"}}" alt="" />
                            {% endif %}
                          	{% if block.settings.block_heading != blnak %}
                          		<h3>{{ block.settings.block_heading}}</h3>
                            {% endif %} 
                            {{ block.settings.block_description}}
                      	</div>  
              		</div>  
              	{% endfor %}
          	</div>  
      	</div>  
	</div>  
{% endif %}
{% schema %}
  {
    "name": "Market Price Grid",
    "settings": [
		{
			"type":"text",
			"id":"section_heading",
			"label":"Heading"
		}
	],
	"blocks": [
		{
			"type":"grid_item",
			"name":"Grid Item",
			"settings":[
				{
                    "type":"text",
                    "id":"block_heading",
                    "label":"Title"
                },
				{
					"type":"richtext",
                    "id":"block_description",
                    "label":"Description"
				},
				{
                    "type":"image_picker",
                    "id":"image",
                    "label":"Icon Image"
                }
				
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
