<link rel="stylesheet" href="{{ 'component-pagination.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-pagination.css' | asset_url | stylesheet_tag }}</noscript>
{{ 'component-rating.css' | asset_url | stylesheet_tag }}
  

{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}


<link rel="preload" href="{{ 'component-rte.css' | asset_url }}" as="style" onload="this.onload=null;this.rel='stylesheet'">

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}


{%- liquid
  assign collection = collections.all
  assign curent_tag_name = section.settings.clearnce_tag  
   for tag in collection.all_tags 
      if tag contains curent_tag_name 
       		assign current_tag = tag  
  	  endif
 	endfor 
-%}	

{% assign url = '' %}


<div class="section-{{ section.id }}-padding">
  <div id="ProductGridContainer" {% if section.settings.product_badges != blank %}data-badges="{{ section.settings.product_badges }}"{% endif %} data-action="{{ shop.secure_url }}{{ collections.all.url }}/{% if current_tag != blank %}{{ current_tag | handle }}{% endif %}">
    <div class="clearance_loader"><div class="clearance-lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
  </div>
</div>
<script>
  jQuery(document).ready(function($){
  	$('.collection .loading-overlay').show(); 

     $.get({
          url: $("#ProductGridContainer").attr('data-action'),
          success: function (data) {   
              var badges = $("#ProductGridContainer").attr('data-badges');
              var newProductsWrapper = $(data).find("#ProductGridContainer");
              var totalt_product =  $(data).find("#ProductCountDesktop").html();             
              var newProductsHtml = newProductsWrapper.html();  
              $("#ProductGridContainer").html(newProductsHtml);
              if(badges != '' && badges != null && badges != 'undefiend'){
				$("#ProductGridContainer #product-grid .grid__item").each(function(){
                    $(this).find('.best_seller_discount_bar').remove();
                    $(this).find('.card__content').before('<div class="best_seller_discount_bar clearance_product_bar"><span>'+badges+'</span></div>');

                });
              }	
              var newItemCount = newProductsWrapper.attr('data-products-count');
              var count = $(data).find("#ProductCountDesktop").html(); 
              $("#ProductCountDesktop").html(count);
              $('.collection .loading-overlay').hide(); 
            }
      })
  });
</script>  
{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
   	{
		"type":"text",
		"id":"clearnce_tag",
		"label": "Clearance Tag Name",
		"default": "Clearance"
	},
	{
		"type":"text",
		"id": "product_badges",
		"label": "Badges"
	}
  ]
}
{% endschema %}