{% if section.blocks and section.blocks != blank %}
	<section class="collections_grid">
      	<div class="container">
      	  {% if section.settings.title != blank or section.settings.subheading != blank %}	
          	<div class="heading_sec">
          		 {% if section.settings.title != blank %}
              		<h2>{{ section.settings.title }}</h2>
              	 {% endif %}
              	 {% if section.settings.subheading != blank %}
              		<p>{{ section.settings.subheading }}</p>
              	 {% endif %}	
          	</div>  
          {% endif %}
          <div class="row">
              	<div class="col-md-4">
                  {%- for block in section.blocks -%}
                    {% if forloop.index == 1 or forloop.index == 2 %}
                           <div class="collection_grid_box">
                               <a href="{{ block.settings.collection.url }}" class="collection_link">
                                  {% if block.settings.collection_image != blank %}
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ block.settings.collection_image | img_url: 'master' }}" class="img-fluid lazy2 lazy3" alt="{{ block.settings.collection_image.alt }}" />
                                  {% endif %}
                                  {%- if block.settings.collection.title != blank -%}
                               		  <h3>{{- block.settings.collection.title | escape -}}</h3>
                                  {%- endif -%}	
                               </a> 
                            </div>
                    {% endif %}	
                  {%- endfor -%}
             	 </div>  
          		<div class="col-md-4 mid-collection-box">
                  	{%- for block in section.blocks -%}
                      {% if forloop.index == 3 %}
                            <div class="collection_grid_box">
                               <a href="{{ block.settings.collection.url }}" class="collection_link">
                                  {% if block.settings.collection_image != blank %}
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ block.settings.collection_image | img_url: 'master' }}" class="img-fluid lazy2 lazy3" alt="{{ block.settings.collection_image.alt }}" />
                                  {% endif %}
                                  {%- if block.settings.collection.title != blank -%}
                               		  <h3>{{- block.settings.collection.title | escape -}}</h3>
                                  {%- endif -%}		
                               </a> 
                            </div>
                      {% endif %}	
                    {%- endfor -%}
              	</div>  
              	<div class="col-md-4">
                  	{%- for block in section.blocks -%}
                      {% if forloop.index == 4 or  forloop.index == 5 %}
                            <div class="collection_grid_box">
                               <a href="{{ block.settings.collection.url }}" class="collection_link">
                                  {% if block.settings.collection_image != blank %}
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ block.settings.collection_image | img_url: 'master' }}" class="img-fluid lazy2 lazy3" alt="{{ block.settings.collection_image.alt }}" />
                                  {% endif %}
                                  {%- if block.settings.collection.title != blank -%}
                               		  <h3>{{- block.settings.collection.title | escape -}}</h3>
                                  {%- endif -%}	
                               </a> 
                            </div>
                      {% endif %}	
                    {%- endfor -%}
              	</div>  
          	</div> 
          	{% if section.settings.view_all_button_label != blank or section.settings.view_all_button_link != blank %}	
          		<div class="view_all_collection">
                  <a href="{{section.settings.view_all_button_link}}">{{ section.settings.view_all_button_label }}</a>
          		</div>  
          	{% endif %}
      	</div>  
	</section>  
{% endif %}
{% schema %}
  {
    "name": "Collection Grid",
	"max_blocks": 5,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "default": "Collections",
        "label": "heading"
      },
 	  {
        "type": "textarea",
        "id": "subheading",
        "label": "Subheading"
      },
	  {
        "type": "text",
        "id": "view_all_button_label",
        "default": "View collection",
        "label": "Button Label"
      },
	  {
        "type": "text",
        "id": "view_all_button_link",
        "default": "#",
        "label": "Button Link"
      }
	],
	"blocks": [
        {
          "type": "collections_grid",
          "name": "collectionss_grid",
          "settings": [
            {
              "type": "collection",
              "id": "collection",
              "label": "Collection"
            },
			{
              "type": "image_picker",
              "id": "collection_image",
              "label": "Collection Image"
            }
          ]
        }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
