{% comment %}theme-check-disable TemplateLength{% endcomment %}
<link rel="stylesheet" data-href="{{ 'section-main-product.css' | asset_url }}" media="all">
<link rel="stylesheet" data-href="{{ 'component-accordion.css' | asset_url }}" media="all">
<link rel="stylesheet" data-href="{{ 'component-price.css' | asset_url }}" media="all">
<link rel="stylesheet" data-href="{{ 'component-rte.css' | asset_url }}" media="all">
<link rel="stylesheet" data-href="{{ 'component-slider.css' | asset_url }}" media="all">
<link rel="stylesheet" data-href="{{ 'component-rating.css' | asset_url }}" media="all">
<link rel="stylesheet" data-href="{{ 'component-loading-overlay.css' | asset_url }}" media="all">
 {%- liquid  
            assign min_price = product.price_min 
            assign max_price = product.price_max 
        %}
<link rel="stylesheet" data-href="{{ 'component-deferred-media.css' | asset_url }}" media="all">

{% style %}

  
  .mid-sale-discount-batches ul { display:block; font-weight: 600;
 }
  .mid-sale-discount-batches ul li.sale_discont_quick { display:none; }

  .mid-sale-discount-batches ul li a { color: #2C474B; }
  
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  } 
   ul.mid_sale_header_bar {display: flex;align-items: center;justify-content: space-between;padding: 0;}
  
  ul.mid_sale_header_bar li {font-family: 'Gellix';font-style: normal;font-weight: 700;font-size: 16px; 
                              line-height: 18px;display: flex;align-items: center;text-align: center; color: #2C474B; list-style-type: none;}
ul.mid_sale_header_bar li,
  ul.mid_sale_header_bar li:nth-child(1) {      color: #2C474B; }

  ul.mid_sale_header_bar li path { fill:#2C474B; }
  
  li.sale_discont_quick {
      text-align: right !important;
  }
  
  .mid-sale-discount-batches ul li {list-style-type: none;   background:#F9F1E5;
 padding:5px 20px; 

/* margin:5px;
    border:2px solid #000; 
    box-shadow: 3px 3px 0px #FCA594; */
    border-radius:4px; color: #2C474B;   width:100%;     text-align: center;  } 
  .mid-sale-discount-batches li h4 {font-family: 'Gellix';font-style: normal;font-weight: 700; margin:0px; font-size:18px;line-height:1.4; color: #2C474B; }
  .mid-sale-discount-batches li p {font-family: 'Gellix';font-style: normal;font-weight:600;font-size: 14px; margin:0px; line-height:1.4; color: #2C474B; }
  .mid-sale-discount-batches ul {display: flex;align-items: center;justify-content: space-between;padding: 0;margin-bottom: 0;}
 
  
   ul.mid_sale_header_bar li span {margin-right: 4px;}
   @media only screen and (max-width:991px) and (min-width:768px){
    .mid-sale-discount-batches li h4 {font-family: Gellix;font-style: normal;font-weight: 700;font-size: 21px;line-height: 21px;color: #fff;margin-bottom: 3px;}
/*     .mid-sale-discount-batches ul li { list-style-type: none;border-right: 1px solid #fff;flex: 0 0 33.33%;text-align: left;padding: 0px 11px;} */
    .mid-sale-discount-batches li p { font-size: 14px;line-height: 16px;color: #fff;margin-bottom: 0;}
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
   @media screen and (max-width: 480px) {
/*      .mid-sale-discount-batches ul li > div {max-width: 93px;margin: 0 auto;} */
    .mid-sale-discount-batches li h4 {font-size: 21px;line-height: 21px; margin-bottom: 3px;}
/*     .mid-sale-discount-batches ul li {list-style-type: none;border-right: 1px solid #E25B3C;flex: 0 0 33.33%;text-align: left;padding: 0px 11px;} */
  
     
     .mid-sale-discount-batches li p { font-size:10px;line-height: 16px; margin-bottom: 0;}

   .mid-sale-discount-batches ul li { margin:3px; padding:5px;   }
  
   
   }
    @media only screen and (max-width:365px){
/*       .mid-sale-discount-batches ul li > div {max-width: 71px;margin: 0 auto;} */
      .mid-sale-discount-batches li p {font-size: 12px; line-height: 15px;}
      .mid-sale-discount-batches li h4 {font-size: 17px;line-height: 18px;}
    }
{% endstyle %}

<script type="lazyload2" data-src="{{ 'product-form.js' | asset_url }}"></script>

{%- assign first_3d_model = product.media | where: "media_type", "model" | first -%}
{%- if first_3d_model -%}
  {{ 'component-product-model.css' | asset_url | stylesheet_tag }}
  <link id="ModelViewerStyle" rel="stylesheet" href="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.css" media="print" onload="this.media='all'">
  <link id="ModelViewerOverride" rel="stylesheet" href="{{ 'component-model-viewer-ui.css' | asset_url }}" media="print" onload="this.media='all'">
{%- endif -%}

{%- for block in section.blocks -%}
  {%- case block.type -%}
      {%- when 'title' -%}       
          <div class="deep_dream_mobile_product_main_title" style="display:none">	
             <div class="page-width"> 
              <div class="wish_list_with_title">
                  <h2 class="product__title" {{ block.shopify_attributes }}>
                      {{ product.title | escape }}
                  </h2>
                  <span class="wishlist_sec">{% render 'ZooomyListWishlistColl', product: product %}</span>
              </div> 
              <div class="product_detail_review"> {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: product %}</div>
          </div>	
        </div>   
  {% endcase %}	
{% endfor %}
<section class="page-width product-sec-main section-{{ section.id }}-padding">
  <div class="product product--{{ section.settings.media_size }} product--{{ section.settings.gallery_layout }} grid grid--1-col {% if product.media.size > 0 %}grid--2-col-tablet{% else %}product--no-media{% endif %}">		
    <div class="grid__item product__media-wrapper product_main_section_thumb">
      <div id="MediaGallery-{{ section.id }}" role="region" {% if section.settings.enable_sticky_info %}class="product__media-gallery"{% endif %} aria-label="{{ 'products.product.media.gallery_viewer' | t }}" data-desktop-layout="{{ section.settings.gallery_layout }}">
          <div class="product_main_thumb_grid_sec"> 
            <div class="product_top_gallery_section">
              <div class="product_gallery_slider_sec">  
                   <div class="product_thumb_batches" style="display:none;">
                    {%- for block in section.blocks -%}
                        {%- case block.type -%}
                            {%- when 'discount_sale' -%}  
                              {% if block.settings.coupon != blank and block.settings.enabel %}
                                <span class="onsale_batches">On Sale</span>
                              {% endif %}    
                        {% endcase %}	
                    {% endfor %}
                  </div>
                  <div id="GalleryStatus-{{ section.id }}" class="visually-hidden" role="status"></div>
                  <div id="GalleryViewer-{{ section.id }}" class="slider-mobile-gutter">
                    <a class="skip-to-content-link button visually-hidden" href="#ProductInfo-{{ section.id }}">
                      {{ "accessibility.skip_to_product_info" | t }}
                    </a>
                    <ul id="productSliderGallery" class="product__media-list grid grid--peek list-unstyled slider slider--mobile" role="list">
                      {%- liquid
                        assign variant_images = product.images | where: 'attached_to_variant?', true | map: 'src'
                        assign media_count = product.media.size
                        if section.settings.hide_variants
                          assign media_count = media_count | minus: variant_images.size | plus: 1
                        endif
          
                        if section.settings.media_size == 'large'
                          assign media_width = 0.65
                        elsif section.settings.media_size == 'medium'
                          assign media_width = 0.55
                        elsif section.settings.media_size == 'small'
                          assign media_width = 0.45
                        endif
                      -%}
                      {%- if product.selected_or_first_available_variant.featured_media != null -%}
                        {%- assign featured_media = product.selected_or_first_available_variant.featured_media -%}
                        <li id="Slide-{{ section.id }}-{{ featured_media.id }}" class="product__media-item grid__item slider__slide is-active{% if featured_media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains featured_media.src %} product__media-item--variant{% endif %}" data-media-id="{{ section.id }}-{{ featured_media.id }}">
                          {%- assign media_position = 1 -%}
                          {% render 'product-thumbnail', media: featured_media, position: media_position, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true, media_width: media_width, lazy_load: false %}
                        </li>
                      {%- endif -%}
                      {%- for media in product.media -%}
                        {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                          <li id="Slide-{{ section.id }}-{{ media.id }}" class="product__media-item grid__item slider__slide{% if product.selected_or_first_available_variant.featured_media == null and forloop.index == 1 %} is-active{% endif %}{% if media.media_type != 'image' %} product__media-item--full{% endif %}{% if section.settings.hide_variants and variant_images contains media.src %} product__media-item--variant{% endif %}" data-media-id="{{ section.id }}-{{ media.id }}">
                            {%- assign media_position = media_position | default: 0 | plus: 1 -%}
                            {% render 'product-thumbnail', media: media, position: media_position, loop: section.settings.enable_video_looping, modal_id: section.id, xr_button: true, media_width: media_width, lazy_load: true %}
                          </li>
                        {%- endunless -%}
                      {%- endfor -%}
                    </ul>
                    <div class="slider-buttons no-js-hidden{% if media_count < 2 or section.settings.mobile_thumbnails == 'show' %} small-hide{% endif %}">
                      <button type="button" class="slider-button slider-button--prev" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}">{% render 'icon-caret' %}</button>
                      <div class="slider-counter caption">
                        <span class="slider-counter--current">1</span>
                        <span aria-hidden="true"> / </span>
                        <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
                        <span class="slider-counter--total">{{ media_count }}</span>
                      </div>
                      <button type="button" class="slider-button slider-button--next" name="next" aria-label="{{ 'general.slider.next_slide' | t }}">{% render 'icon-caret' %}</button>
                    </div>
                  </div>
                  {%- if first_3d_model -%}
                    <button
                      class="button button--full-width product__xr-button"
                      type="button"
                      aria-label="{{ 'products.product.xr_button_label' | t }}"
                      data-shopify-xr
                      data-shopify-model3d-id="{{ first_3d_model.id }}"
                      data-shopify-title="{{ product.title | escape }}"
                      data-shopify-xr-hidden
                    >
                      {% render 'icon-3d-model' %}
                      {{ 'products.product.xr_button' | t }}
                    </button>
                  {%- endif -%}
              </div>
                 {%- if product.metafields.productmodad3d.product3dmodalid != blank -%}
                    {%- render  'product_3d_view' -%}
                {%- endif -%} 
            </div>  
            <div class="gallery_thumb_with_3d deep_dream_gallery_thumb {% if product.metafields.productmodad3d.product3dmodalid != blank %}ar_modal_view_active{% endif %}">
                {%- if media_count > 1 and section.settings.gallery_layout != 'stacked' or section.settings.mobile_thumbnails == 'show' -%}
                  <div id="GalleryThumbnails-{{ section.id }}" class="slider-mobile-gutter{% if section.settings.mobile_thumbnails == 'hide' %} small-hide{% endif %}{% if media_count <= 3 %} thumbnail-slider--no-slide{% endif %}">
                    <ul id="productSliderThumbs" class="thumbnail-list list-unstyled slider slider--mobile">
                      {%- if featured_media != null -%}
                        {%- capture media_index -%}
                          {%- if featured_media.media_type == 'model' -%}{%- increment model_index -%}
                          {%- elsif featured_media.media_type == 'video' or featured_media.media_type == 'external_video' -%}{%- increment video_index -%}
                          {%- elsif featured_media.media_type == 'image'%}{%- increment image_index -%}
                          {%- endif -%}
                        {%- endcapture -%}
                        {%- assign media_index = media_index | plus: 1 -%}
                        <li>
                            <img class="gallery-thumb lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                              id="Thumbnail-{{ section.id }}-0" data-srcset="{% if featured_media.preview_image.width >= 54 %}{{ featured_media.preview_image | img_url: '54x' }} 54w,{% endif %}
                              {% if featured_media.preview_image.width >= 74 %}{{ featured_media.preview_image | img_url: '74x' }} 74w,{% endif %}
                              {% if featured_media.preview_image.width >= 104 %}{{ featured_media.preview_image | img_url: '104x' }} 104w,{% endif %}
                              {% if featured_media.preview_image.width >= 162 %}{{ featured_media.preview_image | img_url: '162x' }} 162w,{% endif %}
                              {% if featured_media.preview_image.width >= 208 %}{{ featured_media.preview_image | img_url: '208x' }} 208w,{% endif %}
                              {% if featured_media.preview_image.width >= 324 %}{{ featured_media.preview_image | img_url: '324x' }} 324w,{% endif %}
                              {% if featured_media.preview_image.width >= 416 %}{{ featured_media.preview_image | img_url: '416x' }} 416w,{% endif %},
                              {{ featured_media.preview_image | img_url: 'master' }} {{ media.preview_image.width }}w"
                              data-src="{{ featured_media | img_url: '416x' }}"
                              sizes="(min-width: {{ settings.page_width }}px) calc(({{ settings.page_width | minus: 100 | times: media_width | round }} - 4rem) / 4), (min-width: 990px) calc(({{ media_width | times: 100 }}vw - 4rem) / 4), (min-width: 750px) calc((100vw - 15rem) / 8), calc((100vw - 14rem) / 3)"
                              alt="{{ featured_media.alt | escape }}"
                              height="208"
                              width="208"
                              loading="lazy"
                            >
                        </li>
                      {%- endif -%}
                      {%- for media in product.media -%}
                        {%- unless media.id == product.selected_or_first_available_variant.featured_media.id -%}
                          {%- capture media_index -%}
                            {%- if media.media_type == 'model' -%}{%- increment model_index -%}
                            {%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}{%- increment video_index -%}
                            {%- elsif media.media_type == 'image'%}{%- increment image_index -%}
                            {%- endif -%}
                          {%- endcapture -%}
                          {%- assign media_index = media_index | plus: 1 -%}
                           <li>
                            {%- if media.media_type == 'model' -%}
                              <span class="thumbnail__badge" aria-hidden="true">
                                {%- render 'icon-3d-model' -%}
                              </span>
                            {%- elsif media.media_type == 'video' or media.media_type == 'external_video' -%}
                              <span class="thumbnail__badge" aria-hidden="true">
                                {%- render 'icon-play' -%}
                              </span>
                            {%- endif -%}
                              <img class="wwee gallery-thumb lazy2" id="Thumbnail-{{ section.id }}-{{ forloop.index }}" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
                                data-srcset="{% if media.preview_image.width >= 59 %}{{ media.preview_image | img_url: '260x' }} 59x,{% endif %}
                                        {% if media.preview_image.width >= 118 %}{{ media.preview_image | img_url: '260x' }} 118w,{% endif %}
                                        {% if media.preview_image.width >= 84 %}{{ media.preview_image | img_url: '260x' }} 84w,{% endif %}
                                        {% if media.preview_image.width >= 168 %}{{ media.preview_image | img_url: '260x' }} 168w,{% endif %}
                                        {% if media.preview_image.width >= 130 %}{{ media.preview_image | img_url: '260x' }} 130w,{% endif %}
                                        {% if media.preview_image.width >= 260 %}{{ media.preview_image | img_url: '260x' }} 260w{% endif %}"
                                data-src="{{ media | img_url: '254x254' }}"
                             
                                alt="{{ media.alt | escape }}"
                                height="200"
                                width="200"
                                loading="lazy"
                              >
                          </li>
                        {%- endunless -%}
                      {%- endfor -%}
                    </ul>
                  </div>
                {%- endif -%}
                {% if product.metafields.productmodad3d.product3dmodalid != blank %}
                  <div class="product_3d_view">
                      <ul>
                        <li class="animate-view-buttons">
                            <button type="button" class="three-d-view"><span><img src="{{'3D.png' | asset_url }}"></span> <span> 360° view</span> </button>
                            <button type="button" class="view-home"><span><img src="{{'view_home.png' | asset_url }}"></span> <span> View at home</span> </button>
                        </li>
                      </ul>  
                  </div>
                {% endif %}
                {%- if product.description != blank -%}
                    <div class="deepdream_product__description rte">
                      {{ product.description | replace: "<img src=", "<img class='lazy2' data-src=" }}
                    </div>
                {%- endif -%}
              	{% if product.metafields.grid.image != blank %}
                    <div class="deep_dream_gllery_grid">
                      {% for g_img in product.metafields.grid.image %}
                           {% assign index = forloop.index %}
                           {%assign m = index | modulo: 3 %}
                           <div class="gallery_grid_col {% if m == 0 %}full_img_col{% endif %}">
                      	   		<img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ g_img }}" alt=""/>
                           </div>  
                      {% endfor %}
                    </div>  
                {% endif %}
            </div>
          </div> 
      </div>
      
      
    </div>
    <div class="product__info-wrapper grid__item{% if settings.page_width > 1400 and section.settings.media_size == "small" %} product__info-wrapper--extra-padding{% endif %}">
      <div id="ProductInfo-{{ section.id }}" class="product__info-container{% if section.settings.enable_sticky_info %} product__info-container--sticky{% endif %}">
        {%- assign product_form_id = 'product-form-' | append: section.id -%}

        {%- for block in section.blocks -%}
          {%- case block.type -%}
          {%- when '@app' -%}
            {% render block %}
        
          {%- when 'title' -%}
          <div class="deep_dream_desktop_product_main_title">
             <div class="wish_list_with_title">
                <h1 class="product__title" {{ block.shopify_attributes }}>
                  {{ product.title | escape }}
                </h1>
               <span class="wishlist_sec">{% render 'ZooomyListWishlistColl', product: product %}</span>
          	</div> 
            <div class="product_detail_review"> {% render 'judgeme_widgets', widget_type: 'judgeme_preview_badge', jm_style: '', concierge_install: false, product: product %}</div>
          </div>
          {%- when 'price' -%}
            <div class="no-js-hidden" id="price-{{ section.id }}" role="status" {{ block.shopify_attributes }}>
              {%- render 'price', product: product, use_variant: true, show_badges: false, price_class: 'price--large' -%}
            </div>            
        	<div class="preorder_discout_bar">
              {% if product.variants.size > 1 %}
                    {% for variant in product.variants %}                                          
                        {% if variant.inventory_quantity < 1 and variant.available == true and variant.inventory_management != blank %}
                            {%- assign  variant_sale_price =  variant.price | money_without_currency  -%} 
                            {%- assign  variant_compare_price =  variant.compare_at_price | money_without_currency  -%} 
                            {% if variant_compare_price > variant_sale_price %}
                                <p class="pre_order_discount_text" data-id="{{ variant.id }}">Pre-Order now available! Wait & Save extra ${{ variant_compare_price | minus: variant_sale_price }}</p>
                            {% endif %} 
                        {% endif %}
                    {% endfor %}
                {% elsif product.variants.size == 1 and product.available == true %}
                     {% for variant in product.variants %}                                  		
                        {% if variant.inventory_quantity < 1 and variant.available == true and variant.inventory_management != blank %}
                            {%- assign  variant_sale_price =  variant.price | money_without_currency  -%} 
                            {%- assign  variant_compare_price =  variant.compare_at_price | money_without_currency  -%} 
                            {% if variant_compare_price > variant_sale_price %}
                                <p class="pre_order_discount_text" style="display:block !important" data-id="{{ variant.id }}">Pre-Order now available! Wait & Save extra ${{ variant_compare_price | minus: variant_sale_price }}</p>
                            {% endif %}   
                        {% endif %}
                    {% endfor %}
              {% endif %}
            </div>
          {%- when 'discount_sale' -%}
              {% if block.settings.coupon != blank and block.settings.enabel %}
                     <div class="discount_sale_bar_section"> 
                    <ul class="mid_sale_header_bar">
                      <li><span>
                
               <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12.5461 0.640631L8.40582 0.561333C8.23013 0.558793 8.06338 0.625745 7.94183 0.747624L0.98062 7.70883C0.721924 7.96753 0.580869 8.32267 0.588471 8.69612C0.596072 9.06957 0.751706 9.43075 1.02115 9.70019L5.50148 14.1805C5.77092 14.45 6.1321 14.6056 6.50555 14.6132C6.879 14.6208 7.23414 14.4797 7.49284 14.2211L14.4557 7.25821C14.5165 7.19809 14.5641 7.12591 14.5958 7.04594C14.6275 6.96597 14.6426 6.87981 14.6403 6.79253L14.4929 2.56795C14.4775 2.06513 14.2644 1.58062 13.8999 1.21973C13.5353 0.85884 13.0488 0.650731 12.5461 0.640631ZM11.4531 4.1549C11.2109 4.00203 11.022 3.77631 10.915 3.51198C10.808 3.24764 10.7887 2.9591 10.8601 2.69011C10.9316 2.42111 11.0898 2.18634 11.3108 2.02138C11.5318 1.85642 11.8035 1.77028 12.0848 1.776C12.3661 1.78173 12.6416 1.87901 12.8695 2.05311C13.0974 2.22721 13.2653 2.46862 13.3478 2.74075C13.4302 3.01288 13.4227 3.30087 13.3263 3.56106C13.23 3.82126 13.0501 4.03947 12.8139 4.1826C12.6121 4.30491 12.3778 4.36711 12.1375 4.36222C11.8971 4.35733 11.6601 4.28553 11.4531 4.1549Z" fill="#230C76"/>
</svg>
                
                </span>{{ block.settings.coupon }}</li>
                      {% if block.settings.coupon_sub_heading != blank %}
                        <li>{{ block.settings.coupon_sub_heading }}</li>
                      {% endif %}  
                    </ul>
                    {% if block.settings.first_discount != blank or block.settings.second_discount != blank or block.settings.third_discount != blank %}  
                        <div class="mid-sale-discount-batches">
                          
                   
                          <ul>
                            {% if block.settings.first_discount != blank %}
                              <li>
                                <div>
                                  <h4>{{ block.settings.first_discount }}</h4>
                                  {% if block.settings.first_discount_spend != blank %}
                                    <p>{{ block.settings.first_discount_spend }}</p>
                                  {% endif %}  
                                 </div> 
                              </li>
                            {% endif %}  

                          <!-- main-new-product line 335  -->
                            <li class="sale_discont_quick">
                              <div>
                                {% if block.settings.third_discount_spend != blank %}
                                  <p>{{ block.settings.third_discount_spend }}</p>
                                {% else %}
                                   <p>now only</p>
                                {% endif %}
                                <h4>  {% assign percent = 20 %}
                                {% assign wholesale-5 = product.price | divided_by: 100 | times: percent %}
                                {{ product.price | minus: wholesale-5 | money }} </h4>                                           
                              </div>   
                            </li>


                      
                            {% if block.settings.second_discount != blank %}
                                <li>
                                  <div>
                                  <h4>{{ block.settings.second_discount }}</h4>
                                  {% if block.settings.second_discount_spend != blank %}
                                      <p>{{ block.settings.second_discount_spend }}</p>
                                  {% endif %}
                                  </div>
                                </li>
                            {% endif %}  
                            {% if block.settings.third_discount != blank %}
                                <li>
                                  <div>
                                    <h4>{{ block.settings.third_discount }}</h4>
                                     {% if block.settings.third_discount_spend != blank %}
                                        <p>{{ block.settings.third_discount_spend }}</p>
                                      {% endif %}
                                   </div>   
                                </li>
                            {% endif %} 
                          </ul>
                      
                        {% if product.variants.size > 1 %}
                        <ul class="hidden_sale_discount" style="display:none">                          
                              {% for variant in product.variants %}                                          
                                <li data-id="{{ variant.id }}">
                                     <div>
                                        {% if block.settings.third_discount_spend != blank %}
                                          <p>{{ block.settings.third_discount_spend }}</p>
                                        {% endif %}
                                        <h4>  {% assign percent = 20 %}
                                        {% assign wholesale-5 = variant.price | divided_by: 100 | times: percent %}
                                        {{ variant.price | minus: wholesale-5 | money }} </h4>                                           
                                    </div>
                                </li>                                 
                              {% endfor %}                          
                        </ul>
                        {% endif %}
                        </div>
                    {% endif %}
                  </div>  
                 <div class="mattress_pdp_divider"></div>
          {% endif %}   
          {%- when 'postcode_check' -%}
        	<div class="post_check_main_grid" data-id="{{ product.id }}">
                <div class="postcode_check_grid">
                    {% if block.settings.delivery_heading != blank %}
                      <div class="posthead">
                        <h3>{{block.settings.delivery_heading}}</h3>
                      </div>
                    {% endif %}
                    <div class="postcode_form_grid"> 
                      {% comment %}
                        {% if block.settings.form_heading != blank %}
                          <div class="post_form_head">
                            <h5>{{block.settings.form_heading}}</h5>
                          </div>
                        {% endif %}
                      {% endcomment %}
                      <div class="csv_result_show" data-shipping_icon ="{{'product_shipping_icon.png' | asset_img_url:'master'}}" data-dispatch ="{{'dispatch.png' | asset_img_url:'master'}}" data-delivery_icon ="{{'delivery_icon.png' | asset_img_url:'master'}}">
                        <p class="shipping_deatil"><span><img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{'new_product_shipping_icon.png' | asset_img_url:'master'}}" alt=""></span> <span class="shipping_fee"></span></p>
                        <p class="dispatch_deatil"><span class="disp-main"><span><img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{'new-Truck-icon.png' | asset_img_url:'master'}}" alt=""></span> <span class="dispatch_label">Dispatch in</span> <span class="dispatch_date">24 hours</span></span> <span class="quantity-avl"></span></p>
                        <p class="delivery_detail"><span><img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{'new-Credit-Card.png' | asset_img_url:'master'}}" alt=""></span> Estimated Delivery: <span class="delivery_date"></span>                         
                        </p>
                      </div>  
                      <div class="form-inner-wrap">
                        <form id="post_check_form">
                          <div class="form-group">
                            <input type="text" name="post_check" id="post_check" class="form-control" placeholder="Enter Your Postcode" required>
                            <button type="submit" class="form-icon">Go</button>
                          </div>
                        </form>
                        <div class="post_code_error"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.5727 3.21665L1.51436 15C1.36884 15.252 1.29184 15.5377 1.29102 15.8288C1.29021 16.1198 1.36561 16.4059 1.50972 16.6588C1.65383 16.9116 1.86164 17.1223 2.11245 17.2699C2.36327 17.4174 2.64836 17.4968 2.93936 17.5H17.056C17.347 17.4968 17.6321 17.4174 17.8829 17.2699C18.1338 17.1223 18.3416 16.9116 18.4857 16.6588C18.6298 16.4059 18.7052 16.1198 18.7044 15.8288C18.7036 15.5377 18.6266 15.252 18.481 15L11.4227 3.21665C11.2741 2.97174 11.065 2.76925 10.8154 2.62872C10.5658 2.48819 10.2841 2.41437 9.9977 2.41437C9.71125 2.41437 9.42964 2.48819 9.18004 2.62872C8.93043 2.76925 8.72126 2.97174 8.5727 3.21665V3.21665Z" stroke="#DA1E28" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10 7.5V10.8333" stroke="#DA1E28" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M10 14.1667H10.0083" stroke="#DA1E28" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg><span>We could not find the postcode you entered</span></div>
                        {% if block.settings.form_note != blank %}
                            <div class="form-note" data-dispatch="{% if product.metafields.pre_order.dispatch != blank %} {{ product.metafields.pre_order.dispatch }} {% endif %}">
                              {% if product.variants.size > 1 %}
                                    {% for variant in product.variants %}                                          
                                        {% if variant.inventory_quantity < 1 and variant.available == true and variant.inventory_management != blank %}
                                            <span data-inventory="{{variant.inventory_quantity}}" class="pre_order_item" data-dispatch-date="{{variant.metafields.dispatch_date.variation}}" style="display:none;">{{ variant.id }}</span>
                                        {% endif %}
                                    {% endfor %}
                                {% elsif product.variants.size == 1 and product.available == true %}
                                     {% for variant in product.variants %}                                  		
                                        {% if variant.inventory_quantity < 1 and variant.available == true and variant.inventory_management != blank %}
                                            <span class="pre_order_item product_simple" data-dispatch-date="{{variant.metafields.dispatch_date.variation}}" style="display:none;">{{ variant.id }}</span>      
                                        {% endif %}
                                    {% endfor %}
                              {% endif %}
								
								{% if product.tags != blank %}
									<div class="tagManagement_sec" style="display:none;">
									{% for tag in product.tags %}
										{% assign tag_name = tag %}
										{% if tag_name == 'Out of Stock' %}
											<span>{{tag_name}}</span>	
										{% endif %}
									{% endfor %} 
									</div>
								{% endif %}
                          
                              {% for variant in product.variants %}
									{% assign product_stock_type = variant.metafields.arena.product_stock_status %}
									{% assign product_stock_label = variant.metafields.arena.producr_stock_label %}
									{% assign product_stock_type_main = product.metafields.arena.product_status %}
									{% assign product_stock_label_main = product.metafields.arena.stock_label %}
									{% comment %}	
                                    <div class="InventoryManagment_sec_{{variant.id}}" style="display:none">    
                                        {% if variant.inventory_quantity > 0 and variant.available == true and variant.inventory_management != blank %}
            								<span>In Stock</span>
            							{% elsif variant.inventory_quantity == 0 and variant.available == true and variant.inventory_management != blank %}
            								<span>Pre-Order</span>
                                        {% elsif variant.inventory_quantity == 0 and variant.available != true and variant.inventory_management != blank %}
            								<span>Out of Stock</span>  
                                        {% elsif variant.inventory_management == "shopify" and variant.inventory_policy != "continue" and variant.inventory_quantity > 0 %}
                                           <span>In Stock</span>
                                        {% else %}  
                                           <span>In Stock</span>
            							{% endif%}
                                    </div>    
									{% endcomment %}		
									
									<div class="InventoryManagment_sec_{{variant.id}}" style="display:none">    
										{% if product_stock_type != blank or product_stock_label != blank %}
											{% if product_stock_type == 'In Stock' and product_stock_label == blank %}
												<span data-stock-type="In Stock">In Stock</span>
											{% elsif product_stock_type == 'Out of Stock' and product_stock_label == blank %}	
												<span data-stock-type="Out of Stock">Out of Stock</span>
                                            {% elsif product_stock_type == 'Pre Order' and product_stock_label == blank %}	
												<span data-stock-type="Pre Order">Pre Order</span>  
											{% elsif product_stock_label != blank %}
												<span data-stock-type="{{product_stock_type}}">{{product_stock_label}}</span>
											{% endif %}
										{% elsif product_stock_type_main != blank or product_stock_label_main != blank  %}	
											{% if product_stock_type_main == 'In Stock' and product_stock_label_main == blank %}
												<span data-stock-type="In Stock">In Stock</span>
											{% elsif product_stock_type_main == 'Out of Stock' and product_stock_label_main == blank %}	
												<span data-stock-type="Out of Stock">Out of Stock</span>
                                            {% elsif product_stock_type_main == 'Pre Order' and product_stock_label_main == blank %}	
												<span data-stock-type="Pre Order">Pre Order</span>    
											{% elsif product_stock_label_main != blank %}
												<span data-stock-type="{{product_stock_type_main}}">{{product_stock_label_main}}</span>
											{% endif %}
										{% else %}
											{% if variant.inventory_quantity > 0 and variant.available == true and variant.inventory_management != blank %}
												<span data-stock-type="In Stock">In Stock</span>
											{% elsif variant.inventory_quantity < 1 and variant.available == true and variant.inventory_management != blank %}
												<span data-stock-type="Pre Order">Pre-Order</span>
											{% elsif variant.inventory_quantity == 0 and variant.available != true and variant.inventory_management != blank %}
												<span data-stock-type="Out of Stock">Out of Stock</span>  
											{% elsif variant.inventory_management == "shopify" and variant.inventory_policy != "continue" and variant.inventory_quantity > 0 %}
												<span data-stock-type="In Stock">In Stock</span>
											{% else %}  
												<span data-stock-type="In Stock">In Stock</span>
											{% endif %}	
            							{% endif%}
                                  </div>   
									
                               {% endfor %} 
                              <p>

                              {% if block.settings.form_icon != blank %}
                                <span><img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{block.settings.form_icon | img_url: "master"}}" alt="image"></span>  
                              {% endif %}
                                <span class="span_dispatch_note">{{block.settings.form_note}}</span>
                              </p>
                            </div>
                        {% endif %}
                      </div>
                      <div id="csv-display">           
                        <h3 class="diliverd_to">Delivery to <span>Banrangaoo, 2000</span> <span class="edit_shipping_postcode"><i class="fas fa-pencil-alt"></i></span></h3> 
                        <div class="shiping_with_deliverd">
                            <div class="shipping_check">
                              <span class="label">Shipping cost</span>
                              <span class="shipping_rate">Free</span>
                            </div> 
                            <div class="delivery_date_check">
                              <p>Guarantee Delivery Date <span class="delivery_date_tooltip" tooltip="Expect Delayed delivery on top of the delivery timeframe due to the current spikes of Covid cases and flood.">?</span> <span class="exect_date">December 14 - December 21 </span></p>
                            </div>  
                        </div> 
                      </div>
                    </div>
                </div>
      	  </div>
          {%- when 'custom_liquid' -%}
            {{ block.settings.custom_liquid }}
          
          {%- when 'quantity_selector' -%}
            <div class="product-form__input product-form__quantity{% if settings.inputs_shadow_vertical_offset != 0 and settings.inputs_shadow_vertical_offset < 0 %} product-form__quantity-top{% endif %}" {{ block.shopify_attributes }}>
              <label class="form__label" for="Quantity-{{ section.id }}">
                {{ 'products.product.quantity.label' | t }}:
              </label>

              <quantity-input class="quantity">
                <button class="quantity__button no-js-hidden qty-minus" name="minus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: product.title | escape }}</span>
                  {% render 'icon-minus' %}
                </button>
                <input class="quantity__input product_custom_cart_qty"
                    type="number"
                    name="quantity"
                    id="Quantity-{{ section.id }}"
                    min="1"
                    value="1"
                    form="{{ product_form_id }}"
                  >
                <button class="quantity__button no-js-hidden qty-plus" name="plus" type="button">
                  <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: product.title | escape }}</span>
                  {% render 'icon-plus' %}
                </button>
              </quantity-input>
            </div>
          {%- when 'popup' -%}
              <modal-opener class="product-popup-modal__opener no-js-hidden" data-modal="#PopupModal-{{ block.id }}" {{ block.shopify_attributes }}>
                <button id="ProductPopup-{{ block.id }}" class="product-popup-modal__button link" type="button" aria-haspopup="dialog">{{ block.settings.text | default: block.settings.page.title }}</button>
              </modal-opener>
              <a href="{{ block.settings.page.url }}" class="product-popup-modal__button link no-js">{{ block.settings.text }}</a>
         
          {%- when 'variant_picker' -%}
            {%- unless product.has_only_default_variant -%}
              {%- if block.settings.picker_type == 'button' -%}
                <variant-radios class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                  {%- for option in product.options_with_values -%}
                      <fieldset class="js product-form__input {% if option.name == 'Color' %}color_option_field{% endif %}">
                        
                        <legend class="form__label">Size:</legend>
                        {%- for value in option.values -%} 
                        <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
                                name="{{ option.name }}"
                                value="{{ value | escape }}"
                                form="{{ product_form_id }}"
                                {% if option.selected_value == value and min_price >= max_price %}checked{% endif %}
                          >
                          <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
                            {% if option.name == 'Color' %}
                           		{% if product.variants[forloop.index0].featured_image.src != blank %}
                            		<img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ product.variants[forloop.index0].featured_image.src | img_url: 'small' }}" alt=""/>
                            	{% else %}
                            		<img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ product.featured_image.src | img_url: 'small' }}" alt=""/>
                                {% endif %}
                            {% else %}
                            	{{ value }}	
                            {% endif %}                            
                          </label>
                        {%- endfor -%}
                      </fieldset>
                  {%- endfor -%}
                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-radios>
              {%- else -%}
                <variant-selects class="no-js-hidden" data-section="{{ section.id }}" data-url="{{ product.url }}" {{ block.shopify_attributes }}>
                  {%- for option in product.options_with_values -%}
                    <div class="product-form__input product-form__input--dropdown">
                      <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
                        {{ option.name }}
                      </label>
                      <div class="select">
                        <select id="Option-{{ section.id }}-{{ forloop.index0 }}"
                          class="select__select"
                          name="options[{{ option.name | escape }}]"
                          form="{{ product_form_id }}"
                        >
                          {%- for value in option.values -%}
                            <option value="{{ value | escape }}" {% if option.selected_value == value %}selected="selected"{% endif %}>
                              {{ value }}
                            </option>
                          {%- endfor -%}
                        </select>
                        {% render 'icon-caret' %}
                      </div>
                    </div>
                  {%- endfor -%}

                  <script type="application/json">
                    {{ product.variants | json }}
                  </script>
                </variant-selects>
              {%- endif -%}
            {%- endunless -%}

            <noscript class="product-form__noscript-wrapper-{{ section.id }}">
              <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
                <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
                <div class="select">
                  <select name="id" id="Variants-{{ section.id }}" class="select__select" form="{{ product_form_id }}">
                    {%- for variant in product.variants -%}
                      <option
                        {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
                        {% if variant.available == false %}disabled{% endif %}
                        value="{{ variant.id }}"
                      >
                        {{ variant.title }}
                        {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
                        - {{ variant.price | money | strip_html }}
                      </option>
                    {%- endfor -%}
                  </select>
                  {% render 'icon-caret' %}
                </div>
              </div>
            </noscript>
          {%- when 'buy_buttons' -%}
            <div {{ block.shopify_attributes }}>
              <product-form class="product-form">
                <div class="product-form__error-message-wrapper" role="alert" hidden>
                  <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                    <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                    <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                    <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                    <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                  </svg>
                  <span class="product-form__error-message"></span>
                </div>

                {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                  <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}" disabled>
                  <div class="product-form__buttons" data-id="{{ product_form_id }}">
                    <button
                      type="submit"
                      name="add"
                      class="product_detail_custom_add_to_cart product-form__submit button button--full-width {% if block.settings.show_dynamic_checkout and product.selling_plan_groups == empty %}button--secondary{% else %}button--primary{% endif %}"
                    {% if product.selected_or_first_available_variant.available == false %}disabled{% endif %}
                    id="product_detail_custom_add_to_cart">
                        <span>
                          {%- if product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                          {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                          {%- endif -%}
                        </span>
                        <div class="loading-overlay__spinner hidden">
                          <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                            <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                          </svg>
                        </div>
                    </button>
                    {%- if block.settings.show_dynamic_checkout -%}
                      {{ form | payment_button }}
                    {%- endif -%}
                  </div>
                {%- endform -%}
              </product-form>
             {% comment %}
               <div id="ISR_button">Notify Me</div>
             {% endcomment %}   
              <link rel="stylesheet" data-href="{{ 'component-pickup-availability.css' | asset_url }}" media="all">

              {%- assign pick_up_availabilities = product.selected_or_first_available_variant.store_availabilities | where: 'pick_up_enabled', true -%}
				
              <pickup-availability class="product__pickup-availabilities no-js-hidden"
                {% if product.selected_or_first_available_variant.available and pick_up_availabilities.size > 0 %} available{% endif %}
                data-root-url="{{ routes.root_url }}"
                data-variant-id="{{ product.selected_or_first_available_variant.id }}"
                data-has-only-default-variant="{{ product.has_only_default_variant }}"
              >
                <template>
                  <pickup-availability-preview class="pickup-availability-preview">
                    {% render 'icon-unavailable' %}
                    <div class="pickup-availability-info">
                      <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
                      <button class="pickup-availability-button link link--text underlined-link">{{ 'products.product.pickup_availability.refresh' | t }}</button>
                    </div>
                  </pickup-availability-preview>
                </template>
              </pickup-availability>
            </div>

            <script type="lazyload2" data-src="{{ 'pickup-availability.js' | asset_url }}"></script>
          {%- when 'rating' -%}
            {%- if product.metafields.reviews.rating.value != blank -%}
              {% liquid
               assign rating_decimal = 0
               assign decimal = product.metafields.reviews.rating.value.rating | modulo: 1
               if decimal >= 0.3 and decimal <= 0.7
                assign rating_decimal = 0.5
              elsif decimal > 0.7
                assign rating_decimal = 1
               endif
              %}
              <div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: product.metafields.reviews.rating.value, rating_max: product.metafields.reviews.rating.value.scale_max }}">
                <span aria-hidden="true" class="rating-star color-icon-{{ settings.accent_icons }}" style="--rating: {{ product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
              </div>
              <p class="rating-text caption">
                <span aria-hidden="true">{{ product.metafields.reviews.rating.value }} / {{ product.metafields.reviews.rating.value.scale_max }}</span>
              </p>
              <p class="rating-count caption">
                <span aria-hidden="true">({{ product.metafields.reviews.rating_count }})</span>
                <span class="visually-hidden">{{ product.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }}</span>
              </p>
            {%- endif -%}
          {%- endcase -%}
        {%- endfor -%}
          {% if product.variants.size > 1 %}
            {% for variant in product.variants %}                                          
               {%- assign  variant_sale_price =  variant.price | money  -%}   
               <div class="product_payement_logo_new product_payement_logo_{{ variant.id }}" style="display:none">        
                 <div class="product_payement_logo_grid">
                    <img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/klarana.png?v=1664957418" alt=""/>
                    <p>4 payments of <br>{{ variant.price | divided_by : 4 | money }}</p>                  
                 </div>
                 <div class="product_payement_logo_grid">
                    <img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/afterpay.png?v=1664957418" alt=""/>
                    <p>4 payments of <br>{{ variant.price | divided_by : 4 | money }}</p>                  
                 </div>
                 <div class="product_payement_logo_grid">
                    <img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/paypal.png?v=1664957418" alt=""/>
                    <p>4 payments of <br>{{ variant.price | divided_by : 4 | money }}</p>                  
                 </div>                
                 <div class="product_payement_logo_grid">
                    <img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/zip_pay.png?v=1664957418" alt=""/>
                    <p>From $10/week</p>                  
                 </div>
               </div>   
            {% endfor %}
        {% elsif product.variants.size == 1 and product.available == true %}
             {% for variant in product.variants %}                                  		
                {%- assign  variant_sale_price =  variant.price | money -%} 
                 <div class="product_payement_logo_new active">        
                   <div class="product_payement_logo_grid">
                      <img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/klarana.png?v=1664957418" alt=""/>
                      <p>4 payments of <br>{{ variant.price | divided_by : 4 | money }}</p>                  
                   </div>
                   <div class="product_payement_logo_grid">
                      <img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/afterpay.png?v=1664957418" alt=""/>
                      <p>4 payments of <br>{{ variant.price | divided_by : 4 | money }}</p>                  
                   </div>
                   <div class="product_payement_logo_grid">
                      <img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/paypal.png?v=1664957418" alt=""/>
                      <p>4 payments of <br>{{ variant.price | divided_by : 4 | money }}</p>                  
                   </div>                
                   <div class="product_payement_logo_grid">
                      <img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/zip_pay.png?v=1664957418" alt=""/>
                      <p>From $10/week</p>                  
                   </div>
               </div> 
            {% endfor %}
      {% endif %}  
        <div class="variation_product_weight" style="display:none">
          {% for variant in product.variants %}<span data-id="{{variant.id}}">{{variant.weight }}</span>{% endfor %}
        </div>  
        {% if product.metafields.arena.material-certification != blank or product.metafields.arena.delivery-return != blank or product.metafields.arena.warranty != blank or  product.metafields.arena.sleep_postion != blank %}      
        
         <div id="accordion_deepdream" class="accordion">
           <h2 class="mobile_heading_tab"><span>Specification</span></h2>
          <div class="card mb-0">  
            	
              {% if product.metafields.arena.product-dimension != blank %}
                <div class="card-header collapsed hide_tab_desktop" data-toggle="collapse" href="#deepdreamcollapsezero">
                    <a class="card-title">
                        Measurements & Dimensions
                    </a>
                </div>
                <div id="deepdreamcollapsezero" class="card-body collapse" data-parent="#accordion_deepdream" >
                    {{product.metafields.arena.product-dimension}}
                </div>
              {% endif  %}
              {% if product.metafields.arena.material-certification != blank %}
                <div class="card-header collapsed" data-toggle="collapse" href="#deepdreamcollapseOne">
                    <a class="card-title">
                        Materials & Certifications
                    </a>
                </div>
                <div id="deepdreamcollapseOne" class="card-body collapse" data-parent="#accordion_deepdream" >
                    {{product.metafields.arena.material-certification}}
                </div>
              {% endif  %}  
              {% if product.metafields.arena.delivery-return != blank %}
                <div class="card-header collapsed" data-toggle="collapse" href="#deepdreamcollapseTwo">
                    <a class="card-title">
                        Shipping
                    </a>
                </div>
                <div id="deepdreamcollapseTwo" class="card-body collapse" data-parent="#accordion_deepdream" >
                    {{product.metafields.arena.delivery-return}}
                </div>
              {% endif  %}
       		  {% if product.metafields.arena.warranty != blank %}
                <div class="card-header collapsed" data-toggle="collapse" href="#deepdreamcollapseThree">
                    <a class="card-title">
                        Warranty
                    </a>
                </div>
                <div id="deepdreamcollapseThree" class="card-body collapse" data-parent="#accordion_deepdream" >
                    {{product.metafields.arena.warranty}}
                </div>
              {% endif  %}
              {% if product.metafields.arena.sleep_postion != blank %}
                <div class="card-header collapsed" data-toggle="collapse" href="#deepdreamcollapseFour">
                    <a class="card-title">
                        Sleep Positions & Weight
                    </a>
                </div>
                <div id="deepdreamcollapseFour" class="card-body collapse" data-parent="#accordion_deepdream" >
                    {{product.metafields.arena.sleep_postion}}
                </div>
              {% endif  %}                        
          </div>
      </div>                
         {% endif %}  

          {% if product.variants.size == 1 and product.available == true %}
                 {% for variant in product.variants %}                                  		
                    {% if variant.inventory_quantity < 1 and variant.available == true and variant.inventory_management != blank %}
                        {% assign product_simple_preorder = '1' %} 
                    {% else %}  
                      {% assign product_simple_preorder = '' %} 
                    {% endif %}
                {% endfor %}
          {% endif %}   
           <div class="prder_order_listing {% if product_simple_preorder != blank %} simple_product_pre_order{% endif %}" {% if product_simple_preorder != blank %}style="display:block !important"{% endif %}>           
              <div id="accordion_preorder"> 
                	<div class="card">
                		<div class="card-header" id="preorderheading0">
                			<h5 class="mb-0">
                			  <button class="btn btn-link" data-toggle="collapse" data-target="#precollapse0" aria-expanded="true" aria-controls="precollapseOne">
                				Pre-order Benefits  <i class="fas fa-minus"></i>
                			  </button>
                			</h5>
                		</div>
                		<div id="precollapse0" class="collapse show" aria-labelledby="preorderheading0" data-parent="#accordion_preorder">
                			<div class="card-body">
                				<ul>
                                {%- assign j = 0  -%}  
                                {%- for block in section.blocks -%}
                                  {%- case block.type -%}
                                  {%- when 'pre_order_settings' -%} 
                                     {% if block.settings.preorder_heading != blank and block.settings.preorder_subheading != blank and block.settings.preorder_icon != blank %}
                                         {%- assign j = j | plus:'1'  -%}      
                                           <li class="pre_list {% if j > 3 %}hide_pre_order_list{% endif %}" data-id="{{ j }}">
                                             <div class="icon_img"><img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ block.settings.preorder_icon | img_url:'master' }}"/></div>
                                             <div class="pre_content"><h3>{{ block.settings.preorder_heading }}</h3> {{ block.settings.preorder_subheading }}</div>
                                           </li>                   
                                     {% endif %}  
                                  {%- endcase -%}
                                {%- endfor -%}  
                                </ul>
                                {% if section.settings.preorder_learn_more_link != blank %}
                                <div class="read_more_pre_order">
                                  <a href="{{ section.settings.preorder_learn_more_link }}">Learn More</a>
                                </div> 
                                {% endif %}  
                			</div>
                		</div>
                	</div>
                </div>
            </div>  
                          
      </div>
      {% if min_price < max_price %}
        <div class="product_price_default" style="display:none;">
            {%- assign money_price_min = min_price | money -%}
            {%- assign money_price_max = max_price | money -%}
            <span class="price-item price-item--regular price_without_line" data-max="{{ max_price }}" data-min="{{ min_price }}">
              {{ money_price_min }} - {{ money_price_max }}
            </span>
        </div> 
      {% endif %}              
    </div>
  </div>
  <div class="USP_icon">
     <img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ 'USP.svg' | asset_url }}" alt=""/>	
  </div>  
  <product-modal id="ProductModal-{{ section.id }}" class="product-media-modal media-modal">
    <div class="product-media-modal__dialog" role="dialog" aria-label="{{ 'products.modal.label' | t }}" aria-modal="true" tabindex="-1">
      <button id="ModalClose-{{ section.id }}" type="button" class="product-media-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>

      <div class="product-media-modal__content" role="document" aria-label="{{ 'products.modal.label' | t }}" tabindex="0">
        {%- liquid
          if product.selected_or_first_available_variant.featured_media != null
            assign media = product.selected_or_first_available_variant.featured_media
            render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: section.settings.hide_variants
          endif
        -%}

        {%- for media in product.media -%}
          {%- liquid
            if section.settings.hide_variants and variant_images contains media.src
              assign variant_image = true
            else
              assign variant_image = false
            endif

            unless media.id == product.selected_or_first_available_variant.featured_media.id
              render 'product-media', media: media, loop: section.settings.enable_video_looping, variant_image: variant_image
            endunless
          -%}
        {%- endfor -%}
      </div>
    </div>
  </product-modal>

  {% assign popups = section.blocks | where: "type", "popup" %}
  {%- for block in popups -%}
    <modal-dialog id="PopupModal-{{ block.id }}" class="product-popup-modal" {{ block.shopify_attributes }}>
      <div role="dialog" aria-label="{{ block.settings.text }}" aria-modal="true" class="product-popup-modal__content" tabindex="-1">
        <button id="ModalClose-{{ block.id }}" type="button" class="product-popup-modal__toggle" aria-label="{{ 'accessibility.close' | t }}">{% render 'icon-close' %}</button>
        <div class="product-popup-modal__content-info">
          <h1 class="h2">{{ block.settings.page.title }}</h1>
          {{ block.settings.page.content }}
        </div>
      </div>
    </modal-dialog>
  {%- endfor -%}
</section>

<script type="lazyload2">
  class ProductModal extends ModalDialog {
    constructor() {
      super();
    }

    hide() {
      super.hide();
    }

    show(opener) {
      super.show(opener);
      this.showActiveMedia();
    }

    showActiveMedia() {
      this.querySelectorAll(`[data-media-id]:not([data-media-id="${this.openedBy.getAttribute("data-media-id")}"])`).forEach((element) => {
          element.classList.remove('active');
        }
      )
      const activeMedia = this.querySelector(`[data-media-id="${this.openedBy.getAttribute("data-media-id")}"]`);
      const activeMediaTemplate = activeMedia.querySelector('template');
      const activeMediaContent = activeMediaTemplate ? activeMediaTemplate.content : null;
      activeMedia.classList.add('active');
      activeMedia.scrollIntoView();

      const container = this.querySelector('[role="document"]');
      container.scrollLeft = (activeMedia.width - container.clientWidth) / 2;

      if (activeMedia.nodeName == 'DEFERRED-MEDIA' && activeMediaContent && activeMediaContent.querySelector('.js-youtube'))
        activeMedia.loadContent();
    }
  }

  if (!customElements.get('product-modal')) customElements.define('product-modal', ProductModal);
</script>

{% if product.media.size > 0 %}
  <script type="lazyload2" data-src="{{ 'media-gallery.js' | asset_url }}"></script>
{% endif %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const hiddenInput = document.querySelector('#{{ product_form_id }} input[name="id"]');
    const noScriptInputWrapper = document.createElement('div');
    const variantSwitcher = document.querySelector('variant-radios[data-section="{{ section.id }}"]') || document.querySelector('variant-selects[data-section="{{ section.id }}"]');
    noScriptInputWrapper.innerHTML = document.querySelector('.product-form__noscript-wrapper-{{ section.id }}').textContent;
    variantSwitcher.outerHTML = noScriptInputWrapper.outerHTML;

    document.querySelector('#Variants-{{ section.id }}').addEventListener('change', function(event) {
      hiddenInput.value = event.currentTarget.value;
    });
  });
</script>

{%- if first_3d_model -%}
  <script type="application/json" id="ProductJSON-{{ product.id }}">
    {{ product.media | where: 'media_type', 'model' | json }}
  </script>

  <script src="{{ 'product-model.js' | asset_url }}" defer></script>
{%- endif -%}

{%- liquid
  if product.selected_or_first_available_variant.featured_media
    assign seo_media = product.selected_or_first_available_variant.featured_media
  else
    assign seo_media = product.featured_media
  endif
-%}

<script type="application/ld+json">
  {
    "@context": "http://schema.org/",
    "@type": "Product",
    "name": {{ product.title | json }},
    "url": {{ shop.url | append: product.url | json }},
    {% if seo_media -%}
      {%- assign media_size = seo_media.preview_image.width | append: 'x' -%}
      "image": [
        {{ seo_media | img_url: media_size | prepend: "https:" | json }}
      ],
    {%- endif %}
    "description": {{ product.description | strip_html | json }},
    {% if product.selected_or_first_available_variant.sku != blank -%}
      "sku": {{ product.selected_or_first_available_variant.sku | json }},
    {%- endif %}
    "brand": {
      "@type": "Thing",
      "name": {{ product.vendor | json }}
    },
    "offers": [
      {%- for variant in product.variants -%}
        {
          "@type" : "Offer",
          {%- if variant.sku != blank -%}
            "sku": {{ variant.sku | json }},
          {%- endif -%}
          "availability" : "http://schema.org/{% if variant.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : {{ variant.price | divided_by: 100.00 | json }},
          "priceCurrency" : {{ cart.currency.iso_code | json }},
          "url" : {{ shop.url | append: variant.url | json }}
        }{% unless forloop.last %},{% endunless %}
      {%- endfor -%}
    ]
  }
</script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "pre_order_settings",
      "name": "Pre Order List",
      "settings": [
          {
            "type": "text",
            "id": "preorder_heading",
            "label": "Heading"
          },
           {
            "type": "richtext",
            "id": "preorder_subheading",
            "label": "Description"
          },
          {
            "type": "image_picker",
            "id": "preorder_icon",
            "label": "Icon Image"
          }          
       ]
    }, 
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Text block",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "discount_sale",
      "name": "Mid-Season Sale",
      "limit": 1,
      "settings" : [
        {
			"type" : "checkbox",
  			"id": "enabel",
  			"label": "Enabel"
        },
        {
			"type" : "text",
  			"id": "coupon",
  			"label": "Sale Heading"
        },
  		{
			"type" : "text",
  			"id": "coupon_sub_heading",
  			"label": "Sub Heading"            
        },
  		{
			"type" : "text",
  			"id": "first_discount",
  			"label": "First Discount"
        },
        {
			"type" : "text",
  			"id": "first_discount_spend",
  			"label": "First Discount Spend"
        },
        {
			"type" : "text",
  			"id": "second_discount",
  			"label": "Second Discount"
        },
        {
			"type" : "text",
  			"id": "second_discount_spend",
  			"label": "Second Discount Spend"
        },
        {
			"type" : "text",
  			"id": "third_discount",
  			"label": "Third Discount"
        },
        {
			"type" : "text",
  			"id": "third_discount_spend",
  			"label": "Third Discount Spend"
        }
      ]
    },
  	{
      "type": "postcode_check",
      "name": "Delivery Postcode",
      "limit": 1,
      "settings" : [
        {
			"type" : "text",
  			"id": "delivery_heading",
  			"label": "Heading",
  			"default": "Delivery"
        },
  		{
			"type" : "html",
  			"id": "form_heading",
  			"label": "Form Heading"
        },
  		{
			"type" : "text",
  			"id": "form_note",
  			"label": "Form Subheading"
        },
  		{
			"type" : "image_picker",
  			"id": "form_icon",
  			"label": "Form Subheading Icon"
        }
      ]
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-product.blocks.share.settings.text.label",
          "default": "Share"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.main-product.blocks.custom_liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.label",
          "info": "t:sections.main-product.blocks.custom_liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Collapsible row",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            },      
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "Pop-up link text",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label"
        }
      ]
    },
    {
      "type": "rating",
      "name": "t:sections.main-product.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "select",
      "id": "gallery_layout",
      "options": [
        {
          "value": "stacked",
          "label": "t:sections.main-product.settings.gallery_layout.options__1.label"
        },
        {
          "value": "thumbnail",
          "label": "t:sections.main-product.settings.gallery_layout.options__2.label"
        },
        {
          "value": "thumbnail_slider",
          "label": "t:sections.main-product.settings.gallery_layout.options__3.label"
        }
    ],
    "default": "stacked",
    "label": "t:sections.main-product.settings.gallery_layout.label"
    },
    {
      "type": "select",
      "id": "media_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.main-product.settings.media_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-product.settings.media_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-product.settings.media_size.options__3.label"
        }
      ],
      "default": "large",
      "label": "t:sections.main-product.settings.media_size.label",
      "info": "t:sections.main-product.settings.media_size.info"
    },
    {
      "type": "select",
      "id": "mobile_thumbnails",
      "options": [
        {
          "value": "show",
          "label": "t:sections.main-product.settings.mobile_thumbnails.options__1.label"
        },
        {
          "value": "hide",
          "label": "t:sections.main-product.settings.mobile_thumbnails.options__2.label"
        }
      ],
      "default": "hide",
      "label": "t:sections.main-product.settings.mobile_thumbnails.label"
    },
    {
      "type": "checkbox",
      "id": "hide_variants",
      "default": false,
      "label": "t:sections.main-product.settings.hide_variants.label"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
    {
      "type": "text",
      "id": "preorder_learn_more_link",
      "label": "Pre Order Learn More Link"
    } 
  ]
}
{% endschema %}
