{% if section.blocks.size > 0 %}
  <style>
  	#accordion .card-header:after {
        font-family: "Font Awesome 5 Free";
        content: "\f068";
        float: right; 
    }
    #accordion .card-header.collapsed:after {
        font-family: "Font Awesome 5 Free";
        content: "\f067";
    }
    .faq_main {
        display: flex;
        justify-content: space-between;
    }
    .faq_main .faq_sectio_deatail {
        max-width: 25%;
    }
    .faq_main  .faq_section_accordian {
        flex: 0 0 65%;
    }
    .faq_main div#accordion .card {
        border-bottom: 1px solid #CFCFD0;
    }	
    .faq_sectio_deatail h2 {
        font-family: 'Gellix';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        color: #000;
    }
    .faq_sectio_deatail p {
        font-family: 'Gellix';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #282828;
    }
    .faq_main div#accordion .card-header h5 button {
        font-family: 'Gellix';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
        color: #282828;
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-decoration: unset !important;
        padding: 8px 0 0 0;
    }
    .faq_main div#accordion .card-header {
        background: transparent;
        padding: 0 !important;
    }
    .faq_main .faq_section_accordian .card-body {
        padding: 0 !important;
        /* padding-top: 0 !important; */
        font-family: 'Gellix';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        margin-top: 0px !important;
    }
    .faq-grid{
        padding: 51px 19px;
    }
    .faq_main .card-body {
        font-family: 'Gellix';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #282828;
    }  
    @media only screen and (max-width: 767px){
    	.faq_main  .faq_section_accordian {
            flex: 0 0 100%;
          	max-width: 100%;
        }
      	.faq_main .faq_sectio_deatail {
          flex: 0 0 100%;
          max-width: 100%;
        }
      	.faq_main {
            flex-wrap: wrap;
        }
    }
  </style>
  <div class="faq-grid">
    <div class="page-width">
      <div class="faq_main">
        <div class="faq_sectio_deatail">
          {% if section.settings.section_headding != blank %}
          <h2>{{ section.settings.section_headding }}</h2>
          {% endif %}
          {% if section.settings.section_description != blank %}
          {{ section.settings.section_description }}
          {% endif %}
        </div>                  
        <div class="faq_section_accordian">
          {% if section.blocks != blank %}
          <div id="accordion"> 
            {% for block in  section.blocks %}
            {% if block.settings.title != blank and  block.settings.description != blank %}  
            <div class="card">
              <div class="card-header" id="heading{{ forloop.index }}">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{ forloop.index }}" aria-expanded="false" aria-controls="collapseOne">
                    {{ block.settings.title }}  <i class="fas fa-plus"></i>
                  </button>
                </h5>
              </div>
              <div id="collapse{{ forloop.index }}" class="collapse" aria-labelledby="heading{{ forloop.index }}" data-parent="#accordion">
                <div class="card-body">
                  {{ block.settings.description }}
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          {% endif %}
        </div> 
      </div> 
    </div>  
  </div> 


{% endif %}



{% schema %}
  {
    "name": "Faq",
    "settings": [
		{
          "type": "text",
           "id": "section_headding",
           "label": "Section Heading"
		},
		{
          "type": "richtext",
           "id": "section_description",
           "label": "Section Description"
		}
	],
	
	"blocks": [
        {
          "type": "faq-items",
          "name": "Faq",
          "settings": [
            {
            "type": "text",
            "id": "title",
            "label": "Title"    
            },
			{
            "type": "html",
            "id": "description",
            "label": "Description"    
            }
          ]
        }
    ]	
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
