{% if section.settings.heading != blank or section.settings.half_image != blank  or section.settings.sub_heading != blank or section.blocks != blank %}
    <section class="total-sec total-sec-with_slider"> 
      <div class="container">
        <div class="row">
          	{% if section.settings.heading != blank or section.settings.sub_heading != blank%}
                <div class="col-12">
                    <div class="be-heading text-center">
                     	{% if section.settings.heading != blank %}
                      		<h2>{{ section.settings.heading }}</h2>
                      	{% endif %}
                      	{% if section.settings.sub_heading != blank %}
                      		<p>{{ section.settings.sub_heading }} </p>
                      	{% endif %}
                    </div>              
                </div>
          	{% endif %}
          	{% if section.blocks and section.blocks != blank %}
                <div class="col-12 main-sprng d-flex align-items-center">
                <div class="totl-contet">
                  <div class="slide-swec">
                    {%- for block in section.blocks -%}
                       {% if block.settings.block_heading != blank or block.settings.block_sub_heading != blank %}
                    	<div class="slide">
                             {% if block.settings.icon_image != blank %}
                                  <img src="{{ block.settings.icon_image | img_url: 'master' }}" alt="{{ block.settings.icon_image.alt }}" class="img-fluid" />                                 
                            {% endif %}

                            {% if block.settings.block_heading != blank %}
                                <h4>{{block.settings.block_heading}}</h4>
                            {% endif %}
                            {% if block.settings.block_sub_heading != blank %}
                                {{block.settings.block_sub_heading}}		
                            {% endif %}
                            {% if block.settings.button_link != blank and block.settings.button_label != blank %}
                                <a  class="red-artcle" href="{{ block.settings.button_link }}">{{ block.settings.button_label }}</a>	
                            {% endif %}
                        </div>
                     {% endif %}
                    {% endfor %}
                  </div>							
                </div>
                 {% if section.settings.half_image != blank %}
                      <div class="total-imge">
                        <img src="{{ section.settings.half_image | img_url: 'master' }}" alt="{{ block.settings.half_image.alt }}" class="img-fluid"/>
                      </div>                                       
                  {% endif %}
              </div>
			{% endif %}
        </div>
      </div>
    </section> 
{% endif %}
{% schema %}
  {
    "name": "Half Bg With Slider",
    "settings": [
         {
            "id": "heading",
            "type": "text",
            "label": "Heading"
          },
          {
            "id": "sub_heading",
            "type": "textarea",
            "label": "Add Content",
            "default": "<p>Add your text here</p>"
          },
          {
            "type": "image_picker",
            "id": "half_image",
            "label": "Half Image"    
          }
	],
	"blocks": [
        {
          "type": "content-slide",
          "name": "Slider Content",
          "settings": [
            {
                "id": "block_heading",
                "type": "text",
                "label": "Heading"
             },
             {
                "id": "block_sub_heading",
                "type": "richtext",
                "label": "Add Content",
                "default": "<p>Add your text here</p>"
             },
			{
              "type": "image_picker",
              "id": "icon_image",
              "label": "Icon Image"    
             },
             {
                "id": "button_label",
                "type": "text",
                "label": "Button Label",
                "default": "Shop Now"
             },
             {
                "id": "button_link",
                "type": "text",
                "label": "Button Link"
             }			
    
          ]
        }
      ]		

  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
