{% if section.blocks and section.blocks != blank %}
	<section class="icon_box_section">
      	<div class="container-custom">
     		{% if section.settings.icon_grid_heading != blank  %}
         	 	<h2> {{ section.settings.icon_grid_heading }} </h2>
          	{% endif %}
          	<div class="row">
          		{% for block in section.blocks %}
              		{% if block.settings.grid_image != blank or block.settings.img_heading != blank or block.settings.subheading != blank %}
                      <div class="col-md-3">
							<div class="icon_grid_box">
                        		 {% if block.settings.grid_image != blank %}
                              			<div class="icon_box_">
                              				<img src="{{ block.settings.grid_image | img_url: 'master' }}" alt="{{ block.settings.grid_image.alt }}" class="img-fluid"/>
                              			</div>                                       
                                  {% endif %}
                              	  {% if block.settings.img_heading != blank or block.settings.subheading != blank %}
                                      <div class="left_grid_box_inner">
                                        {% if block.settings.img_heading != blank %}
                                        <h3>{{ block.settings.img_heading}}</h3>
                                        {% endif %}  
                                        {% if block.settings.subheading != blank %}
                                        <p>{{ block.settings.subheading}}</p>
                                        {% endif %}  
                                      </div>
                              	  {% endif %}
                        	</div> 
                      </div>  
              		{% endif %}	
              	{% endfor %}
          	</div> 
          	 {% if section.settings.section_button_link != blank and section.settings.section_button_label != blank %}
              	<div class="icon-box-learnmore">	
          			<a  href="{{ section.settings.section_button_link }}">{{ section.settings.section_button_label }}</a>	
          		</div>
              {% endif %}
      	</div>  
	</section>  
{% endif %}
<div class="row">
  {% for product in collection.products %}
   
  {% endfor %}
</div>
{% schema %}
  {
    "name": "Icon Box",
     "settings": [
		 {
            "id": "icon_grid_heading",
            "type": "text",
            "label": "Section Heading"
		 },
		 {
            "id": "section_button_label",
            "type": "text",
            "label": "Section Button Label"
		 },
		 {
            "id": "section_button_link",
            "type": "text",
            "label": "Section Button Link"
		 }
	],
	"blocks": [
    {
      "type": "item",
      "name": "Icon Box",
      "settings": [
        {
		  "type": "text",	
          "id": "img_heading",
          "label": "Heading"
        },
		{
          "id": "subheading",
          "type": "textarea",
          "label": "Subheading"
        },
		 {
          "type": "image_picker",
          "id": "grid_image",
          "label": "Image"    
         }
      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
