{% if section.settings.heading != blank  or section.settings.sub_heading != blank or section.blocks != blank %}
   {% if current_tags.first == blank %}
	<section class="home_image_slider collection_image_slider {{section.settings.section_class}}">
      	<div class="home_image_slider_container">
      	  <div class="row">
          	{% if section.settings.heading != blank or section.settings.sub_heading != blank%}
                <div class="col-12">
                     
                    <div class="be-heading text-center">
                     	{% if section.settings.heading != blank %}
                      		<h2> <span> {% render 'icon-insta' %}</span> {{ section.settings.heading }}</h2>
                      	{% endif %}
                      	{% if section.settings.sub_heading != blank %}
                      		<p>{{ section.settings.sub_heading }} </p>
                      	{% endif %}
                    </div>              
                </div>
          	{% endif %}
            {% if section.blocks and section.blocks != blank %}
                <div class="col-12">
                  <div class="image-slider-contet">
                      <div class="homeImage_slider">	
                        {%- for block in section.blocks -%}
                          {% if block.settings.icon_image != blank %}
								<div class="image_slide">
                               
                                 {% if block.settings.url != blank %}  
                                   <a href="{{ block.settings.url }}" target="_blank">
                                          {% endif %}	
                                    <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ block.settings.icon_image | img_url: 'large' }}" alt="{{ block.settings.icon_image.alt }}" class="img-fluid lazy2 lazy3" />
                                   {% if block.settings.url != blank %}  
                                  </a>
                                        {% endif %}	
                        		</div>  
                           {% endif %}	
                        {% endfor %}
                      </div>  
                  </div>  
            	</div>  
             {% endif %}	
          </div>  
      	</div> 
	</section>
	{% endif %}
{% endif %}

{% schema %}
  {

    "name": "Image Slider",
    "settings": [
         {
            "id": "heading",
            "type": "text",
            "label": "Heading"
          },
          {
            "id": "sub_heading",
            "type": "textarea",
            "label": "Content"
          },			
          {
            "type": "text",
            "id": "section_class",
            "label": "section class"
          }
	],
	"blocks": [
        {
          "type": "image-slide",
          "name": "Slide",
          "settings": [
            {
              "type": "image_picker",
              "id": "icon_image",
              "label": "Post Image"    
            },
            {
              "type": "text",
              "id": "url",
              "label": "Post Url"    
            }	 
          ]
        }
      ],
     "presets": [
    {
      "name": "UGC instagram image"
    }
  ]

  }
{% endschema %}

