{% if section.blocks and section.blocks != blank %}
	<section class="image_video_grid">
		<div class="container-custom">
      		<div class="row">
          		{% for block in section.blocks %}
                  {% if block.type == 'image_grid' %}
              			{% if block.settings.grid_image != blank or block.settings.img_heading != blank or block.settings.subheading != blank %}
                            <div class="col-md-4">
                                <div class="image_grid_box">
                                  {% if block.settings.grid_image != blank %}
                                      <img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ block.settings.grid_image | image_url: width: 800 }}" alt="{{ block.settings.grid_image.alt }}" />
                                  {% endif %}
                                  <div class="image_grid_box_content">
                                    <div class="image_grid_box_inner">
                                        {% if block.settings.img_heading != blank %}
                                          <h2>{{ block.settings.img_heading}}</h2>
                                        {% endif %}  
                                         {% if block.settings.subheading != blank %}
                                          <p>{{ block.settings.subheading}}</p>
                                        {% endif %}  
                                    </div>
                                  </div> 
                                </div>
                            </div> 
              			{% endif %}
                  {% elsif block.type == 'video-grid' %}
              			<div class="col-md-4">
              				{%- if block.settings.video_url.type == 'youtube' -%}
                              <iframe data-src="https://www.youtube.com/embed/{{ block.settings.video_url.id }}?enablejsapi=1&rel=0" class="js-youtube" allow="encrypted-media" allowfullscreen></iframe>
                            {%- else -%}
                              <iframe data-src="https://player.vimeo.com/video/{{ block.settings.video_url.id }}" class="js-vimeo" allow="encrypted-media" allowfullscreen></iframe>
                            {%- endif -%}
              			</div> 
                  {% endif %}
                 
                {% endfor %}
          	</div>  
      	</div>
	</section>  
{% endif %}
{% schema %}
  {
    "name": "Image Video Grid",
     "settings": [
		 {
            "id": "image_video_grid_heading",
            "type": "text",
            "label": "Section Heading"
		 }
	],
	"blocks": [
    {
      "type": "image_grid",
      "name": "Image Grid",
      "settings": [
        {
		  "type": "text",	
          "id": "img_heading",
          "label": "Heading"
        },
		{
          "id": "subheading",
          "type": "textarea",
          "label": "Subheading"
        },
		 {
          "type": "image_picker",
          "id": "grid_image",
          "label": "Image"    
         }
      ]
    },
    {
      "type": "video-grid",
      "name": "Video",
      "settings": [
        {
          "type": "image_picker",
          "id": "cover_image",
          "label": "Cover Image"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "accept": [
            "youtube",
            "vimeo"
          ],
          "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc",
          "label": "Video URL"
        }
      ]
    }
  ]
  }
{% endschema %}


