{% if section.settings.banner_heading != blank or section.settings.banner_image != blank %}
	<style>
      .landing_banner{
        background:url({{section.settings.banner_image | img_url:'master'}});
        padding-top: 37%;
        background-repeat: no-repeat;
        position: relative;
        background-size: cover;
        background-position: center;
      }
      
@media screen and (max-width:768px) {
  
.landing_banner{
  background:url({{section.settings.m_banner_image | img_url:'master'}});
    background-repeat: no-repeat; 
    background-size:contain;
    padding-top: 165%;
    background-color: #eceeea;
}
}

  .landing_banner_inner {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .landing_banner_inner a {
        width: 100%;
        height: 100%;
        display: block;
    }
    .landing_banner_content h1 {
        font-family: 'Gellix';
        font-style: normal;
        font-weight: 600;
        font-size: 75px;
        line-height: 82px;
        color: #fff;
        position:relative;
    }
    .landing_banner_content {
        padding: 0 30px;
        text-align: center;
    }
      .landing_banner_content a {
        background: #CF7244 !important;
        display: inline-block;
        border-radius: 39px;
        font-family: 'Gellix';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        color: #fff;
        line-height: 18px;
        padding: 9px 25px 15px;
        text-align: center;
        margin-top: 13px;
    }
    .landing_banner_content h1 sup {
        top: -45px;
    }
    </style> 
	<section class="landing_banner">
		<div class="page-width">
      		<div class="landing_banner_inner">
                <a href="https://lifely.com.au/collections/all">
          		<div class="landing_banner_content">
              		{% if section.settings.banner_heading != blank %}
                  		<h1 class="landing_page_banner_heading">{{ section.settings.banner_heading }}<sup><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/star_icon_7560b4d0-1836-4922-aa32-ac044f252861.png" alt=""></sup></h1>
                    {% endif %}
                    {% if section.settings.banner_button_label != blank and section.settings.banner_button_link %}
                  		<a href="{{ section.settings.banner_button_link }}">{{ section.settings.banner_button_label }}</a>
                    {% endif %}
              	</div>  
                </a>
          	</div>  
      	</div>  
	</section>  
{% endif %}
{% schema %}
  {
    "name": "Banner",
    "settings": [
		{
          "id": "banner_heading",
          "type": "text",
          "label": "Heading"
		},
		{
            "id": "banner_button_label",
            "type": "text",
            "label": "Button Label",
            "default": "Shop Now"
        },
		{
            "id": "banner_button_link",
            "type": "url",
            "label": "Button Link"
		},
		{
          "type": "image_picker",
          "id": "banner_image",
          "label": "Desktop Banner Image"    
        },
        {
          "type": "image_picker",
          "id": "m_banner_image",
          "label": "Mobile Banner Image"    
        }
	]
  }
{% endschema %}
