{% if section.settings.heading != blank  or section.settings.sub_heading != blank or section.blocks != blank %}
   {% if current_tags.first == blank %}
	<section class="home_image_slider landing_instagram_section">
      	<div class="home_image_slider_container">
      	  <div class="row">
          	{% if section.settings.heading != blank%}
                <div class="col-12">
                    <div class="be-heading text-center">
                     	{% if section.settings.heading != blank %}
                      <h2><span> {% render 'icon-insta' %}</span> {{ section.settings.heading }}</h2>
                      	{% endif %}
                       {% if section.settings.sub_heading != blank %}
                  		<p>{{ section.settings.sub_heading }} </p>
                       {% endif %}
                    </div>              
                </div>
          	{% endif %}
            {% if section.blocks and section.blocks != blank %}
                <div class="col-12">
                  <div class="image-slider-contet">
                      <div class="homeImage_slider">	
                        {%- for block in section.blocks -%}
                          {% if block.settings.icon_image != blank %}
								<div class="image_slide">
                                  <a href="{{ block.settings.insta_url }}"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ block.settings.icon_image | img_url: 'master' }}" alt="{{ block.settings.icon_image.alt }}" class="img-fluid lazy2 lazy3" /></a>
                        		</div>  
                           {% endif %}	
                        {% endfor %}
                      </div>  
                  </div>  
            	</div>  
             {% endif %}	
          </div>  
      	</div> 
	</section>
	{% endif %}
{% endif %}

{% schema %}
  {
    "name": "Image Slider",
    "settings": [
         {
            "id": "heading",
            "type": "text",
            "label": "Heading"
          },
          {
            "id": "sub_heading",
            "type": "textarea",
            "label": "Content"
          }
	],
	"blocks": [
        {
          "type": "image-slide",
          "name": "Slide",
          "settings": [
			{
              "type": "image_picker",
              "id": "icon_image",
              "label": "Image"    
             },
            {
              "type": "text",
              "id": "insta_url",
              "label": "Instagram Url"    
             }
          ]
        }
      ]		

  }
{% endschema %}

