{{ 'component-cart.css' | asset_url | stylesheet_tag }}
{{ 'component-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'component-totals.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}
{{ 'component-discounts.css' | asset_url | stylesheet_tag }}
{{ 'component-loading-overlay.css' | asset_url | stylesheet_tag }}


{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  .cart-notice-wrapper{
      background: {{ section.settings.notice_bg}};
      font-family: 'Gellix';
  }	
  td.cart-item__quantity.cart-item-productid-6918357680170 > div {visibility: hidden !important;} 
  tr.cart-item-productid-6918357680170 cart-remove-button {
      display: none;
  }
  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
  span.ctime.eliving-day {
      display: none !important;
  }
{%- endstyle -%}

<script src="{{ 'cart.js' | asset_url }}" defer="defer"></script>

<div class="cart-main-wrapper">
  <cart-items class="page-width{% if cart == empty %} is-empty{% else %} section-{{ section.id }}-padding{% endif %}">
    {% if cart != blank %}
    	{% if section.settings.cart_notice != blank %}
          <div class="cart-notice-wrapper">
            <div class="cart-notice-inner">
              <div class="d-flex">
                {% if section.settings.cart_notice != blank %}
                <div class="cart-notice-text">
                  {{section.settings.cart_notice}}
                </div>
                {% endif %}
                {% if section.settings.cart_timer != blank %}
                <div class="cart-counter-grid">
                  <span id="countdownCart" data-date="{{ "now" | date: "%m-%d-%Y" }}">
                    <span class="ctime eliving-day"><span class="days">00</span> <span class="cbotm"> Days</span></span> 
                    <span class="ctime"><span class="hours">00</span> <span class="cbotm">Hours</span></span> 
                    <span class="ctime"><span class="minutes">00</span><span class="cbotm">Mins</span></span> 
                    <span class="ctime"><span class="seconds">00</span><span class="cbotm"> Secs </span></span> 
                  </span>
                </div>
                {% endif %}
              </div>
            </div>
          </div>
   	 {% endif %}
    {% endif %}
    {% if cart != blank and  cart.item_count > 0 %}
    	<div class="your_cart_item_count"><h3>Your Cart <span>{{cart.item_count}} items</span></h3></div>
    {% endif %}
    <div class="d-flex">
     <div class="cart-content-left">	
      <div class="cart__warnings">
        <h1 class="cart__empty-text">{{ 'sections.cart.empty' | t }}</h1>
        <a href="{{ routes.all_products_collection_url }}" class="button">
          {{ 'general.continue_shopping' | t }}
        </a>

        {%- if shop.customer_accounts_enabled and customer == nil -%}
        <h2 class="cart__login-title">{{ 'sections.cart.login.title' | t }}</h2>
        <p class="cart__login-paragraph">
          {{ 'sections.cart.login.paragraph_html' | t: link: routes.account_login_url }}
        </p>
        {%- endif -%}
      </div>
	  	
      <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
        <div class="cart__items" id="main-cart-items" data-id="{{ section.id }}">
          <div class="js-contents">
            {%- if cart != empty -%}
            <table class="cart-items">
              <thead>
                <tr>
                  <th class="caption-with-letter-spacing" colspan="2" scope="col" valign="middle">{{ 'sections.cart.headings.product' | t }}</th>
                  <th class="medium-hide large-up-hide right caption-with-letter-spacing" colspan="1" scope="col" valign="middle">{{ 'sections.cart.headings.total' | t }}</th>
                  <th class="cart-items__heading--wide small-hide caption-with-letter-spacing" colspan="1" scope="col" valign="middle">{{ 'sections.cart.headings.quantity' | t }}</th>
                  <th class="small-hide right caption-with-letter-spacing cart_price_padding_left" colspan="1" scope="col" valign="middle">Price</th>
                </tr>
              </thead>

              <tbody>
                {%- for item in cart.items -%}
                
                {% assign pre_order_check = item.properties | json %}
         
                <tr class="cart-item border-bottom cart-item-productid-{{ item.product.id | escape }}" id="CartItem-{{ item.index | plus: 1 }}" {% if pre_order_check == '[]' or pre_order_check == 'null' or pre_order_check == '' %} data-check-preorder="false" {% else%} data-check-preorder="true"{% endif%}>
                  <td class="cart-item__media">
                    {% if item.image %}
                    {% comment %} Leave empty space due to a:empty CSS display: none rule {% endcomment %}
                    <a href="{{ item.url }}" class="cart-item__link" aria-hidden="true" tabindex="-1"> </a>
                    <div class="cart-item__image-container gradient global-media-settings">
                      <img src="{{ item.image | img_url: '300x' }}"
                           class="cart-item__image"
                           alt="{{ item.image.alt | escape }}"
                           loading="lazy"
                           width="150"
                           height="{{ 150 | divided_by: item.image.aspect_ratio | ceil }}"
                           >
                    </div>
                    {% endif %}
                  </td>

                  <td class="cart-item__details">
                    {%- if section.settings.show_vendor -%}
                    <p class="caption-with-letter-spacing light">{{ item.product.vendor }}</p>
                    {%- endif -%}

                    <a href="{{ item.url }}" class="cart-item__name h4 break">{{ item.product.title | escape }}</a>

                    {% comment %}
                    {%- if item.original_price != item.final_price -%}
                    <div class="cart-item__discounted-prices">
                      <span class="visually-hidden">
                        {{ 'products.product.price.regular_price' | t }}
                      </span>
                      <s class="cart-item__old-price product-option">
                        {{- item.original_price | money -}}
                      </s>
                      <span class="visually-hidden">
                        {{ 'products.product.price.sale_price' | t }}
                      </span>
                      <strong class="cart-item__final-price product-option">
                        {{ item.final_price | money }}
                      </strong>
                    </div>
                    ghghj
                    {%- else -%}
                    <div class="product-option">
                      <div class="pn-price-item" data-id="{{ item.key }}">{{ item.original_price | money }}</div>
                    </div>
                    {%- endif -%}
                    {% endcomment %}
					{% assign pre_order = 'false' %}
                    {%- if item.product.has_only_default_variant == false or item.properties.size != 0 or item.selling_plan_allocation != nil -%}
                    <dl>
                      {%- if item.product.has_only_default_variant == false -%}
                      {%- for option in item.options_with_values -%}
                      <div class="product-option">
                        <dt>{{ option.name }}: </dt>
                        <dd>{{ option.value }}</dd>
                      </div>
                      {%- endfor -%}
                      {%- endif -%}
						
                      {%- for property in item.properties -%}
                      
                      {%- assign property_first_char = property.first | slice: 0 -%}
                      {%- if property.last != blank and property_first_char != '_' -%}                      
                      	{% if property.first contains "Pre-order" %}                 
                          {% assign pre_order = 'true' %}
                        {% else %}
                            <div class="product-option">
                              <dt>{{ property.first }}: </dt>
                              <dd>
                                {%- if property.last contains '/uploads/' -%}
                                <a href="{{ property.last }}" class="link" target="_blank">
                                  {{ property.last | split: '/' | last }}
                                </a>
                                {%- else -%}
                                {{ property.last }}
                                {%- endif -%}
                              </dd>
                            </div>
                        {% endif %} 
                      {%- endif -%}
                      {%- endfor -%}
                    </dl>
							
                    <p class="product-option">{{ item.selling_plan_allocation.selling_plan.name }}</p>
                    {%- endif -%}

                    <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                      {%- for discount in item.discounts -%}
                      <li class="discounts__discount">
                        {%- render 'icon-discount' -%}
                        {{ discount.title }}
                      </li>
                      {%- endfor -%}
                    </ul>
                    
  
                    <div class="cart-item-dispatch" {% if pre_order == "true" %} data-dispatch="{{ item.variant.metafields.pre_order.dispatch}}" {% else %} data-dispatch="{{ item.product.metafields.pre_order.dispatch}}"  {% endif %} {% if pre_order == 'true' %}data-pre="true"{% else %} data-pre="false" {% endif %}>
                      <p><span><svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0_2614_42956)"><path d="M13.834 13.3333V2.5H1.33398V13.3333H13.834ZM13.834 13.3333H19.6673V9.16667L17.1673 6.66667H13.834V13.3333ZM7.16732 15.4167C7.16732 16.5673 6.23458 17.5 5.08398 17.5C3.93339 17.5 3.00065 16.5673 3.00065 15.4167C3.00065 14.2661 3.93339 13.3333 5.08398 13.3333C6.23458 13.3333 7.16732 14.2661 7.16732 15.4167ZM18.0006 15.4167C18.0006 16.5673 17.0679 17.5 15.9173 17.5C14.7667 17.5 13.834 16.5673 13.834 15.4167C13.834 14.2661 14.7667 13.3333 15.9173 13.3333C17.0679 13.3333 18.0006 14.2661 18.0006 15.4167Z" stroke="#2C474B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
						</g><defs><clipPath id="clip0_2614_42956"><rect width="20" height="20" fill="white" transform="translate(0.5)"/></clipPath></defs></svg></span>  
							
                          {% assign pdata = item.properties | json %}
                          {% if pdata == '[]' or pdata == '' or pdata == 'null' %}
							<span class="span_dispatch_note">Dispatch in 24 hours</span>
                          {% else %}
                        	{% for property in item.properties %}
                              {% if property.first contains "Pre-order" %}
                                {% assign date = item.variant.metafields.dispatch_date.variation | date: "%d %B, %Y" %}
                                <span class="span_dispatch_note">Available on {{date}}</span>
                              {% endif %}	
                        	{% endfor %}
                          {% endif %}
                         
           
                       </p>
                      <p class="disptach-date-info" style="display:none;"> <span><svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.4993 18.3334C15.1017 18.3334 18.8327 14.6025 18.8327 10.0001C18.8327 5.39771 15.1017 1.66675 10.4993 1.66675C5.89698 1.66675 2.16602 5.39771 2.16602 10.0001C2.16602 14.6025 5.89698 18.3334 10.4993 18.3334Z" stroke="#2C474B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/><path d="M10.5 5V10L13.8333 11.6667" stroke="#2C474B" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg></span> <span class="del-date-text">Gurantee Delivery Date: </span> <span class="del-date-bw"></span></p>
                    </div>

                    <cart-remove-button id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                      <a href="{{ item.url_to_remove }}" class="button button--tertiary" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                        <i class="fas fa-times"></i> <span>Remove</span>
                      </a>
                    </cart-remove-button>

                  </td>

                  <td class="cart-item__totals right medium-hide large-up-hide ">
                    <div class="loading-overlay hidden">
                      <div class="loading-overlay__spinner">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>
                    <div class="cart-item__price-wrapper">
                      {%- if item.original_line_price != item.final_line_price -%}
                      <dl class="cart-item__discounted-prices">
                        <dt class="visually-hidden">
                          {{ 'products.product.price.regular_price' | t }}
                        </dt>
                        <dd>
                          <s class="cart-item__old-price price price--end">
                            <div class="pn-total-line-item" data-id="{{ item.key }}">{{ item.original_line_price | money }}</div>
                          </s>
                        </dd>
                        <dt class="visually-hidden">
                          {{ 'products.product.price.sale_price' | t }}
                        </dt>
                        <dd class="price price--end">
                          {{ item.final_line_price | money }}
                        </dd>
                      </dl>
                      {%- else -%}
                      <span class="price price--end">
                        <div class="pn-total-line-item" data-id="{{ item.key }}">{{ item.original_line_price | money }}</div>
                      </span>
                      {%- endif -%}

                      {%- if item.variant.available and item.unit_price_measurement -%}
                      <div class="unit-price caption">
                        <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                        {{ item.variant.unit_price | money }}
                        <span aria-hidden="true">/</span>
                        <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                        {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                        {{- item.variant.unit_price_measurement.reference_value -}}
                        {%- endif -%}
                        {{ item.variant.unit_price_measurement.reference_unit }}
                      </div>
                      {%- endif -%}

                    </div>
                  </td>

                  <td class="cart-item__quantity  cart-item-productid-{{ item.product.id | escape }}">
                    <div class="cart-item__quantity-wrapper">
                      <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                        {{ 'products.product.quantity.label' | t }}
                      </label>
                      <quantity-input class="quantity">
                        <button class="quantity__button no-js-hidden" name="minus" type="button">
                          <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                          {% render 'icon-minus' %}
                        </button>
                        <input class="quantity__input"
                               type="number"
                               name="updates[]"
                               value="{{ item.quantity }}"
                               min="0"
                               aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                               id="Quantity-{{ item.index | plus: 1 }}"
                               data-index="{{ item.index | plus: 1 }}"
                               >
                        <button class="quantity__button no-js-hidden" name="plus" type="button">
                          <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                          {% render 'icon-plus' %}
                        </button>
                      </quantity-input>

                    </div>
                    <div class="cart-item__error" id="Line-item-error-{{ item.index | plus: 1 }}" role="alert">
                      <small class="cart-item__error-text"></small>
                      <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-error" viewBox="0 0 13 13">
                        <circle cx="6.5" cy="6.50049" r="5.5" stroke="white" stroke-width="2"/>
                        <circle cx="6.5" cy="6.5" r="5.5" fill="#EB001B" stroke="#EB001B" stroke-width="0.7"/>
                        <path d="M5.87413 3.52832L5.97439 7.57216H7.02713L7.12739 3.52832H5.87413ZM6.50076 9.66091C6.88091 9.66091 7.18169 9.37267 7.18169 9.00504C7.18169 8.63742 6.88091 8.34917 6.50076 8.34917C6.12061 8.34917 5.81982 8.63742 5.81982 9.00504C5.81982 9.37267 6.12061 9.66091 6.50076 9.66091Z" fill="white"/>
                        <path d="M5.87413 3.17832H5.51535L5.52424 3.537L5.6245 7.58083L5.63296 7.92216H5.97439H7.02713H7.36856L7.37702 7.58083L7.47728 3.537L7.48617 3.17832H7.12739H5.87413ZM6.50076 10.0109C7.06121 10.0109 7.5317 9.57872 7.5317 9.00504C7.5317 8.43137 7.06121 7.99918 6.50076 7.99918C5.94031 7.99918 5.46982 8.43137 5.46982 9.00504C5.46982 9.57872 5.94031 10.0109 6.50076 10.0109Z" fill="white" stroke="#EB001B" stroke-width="0.7">
                          </svg>
                        </div>
                      </td>

                  <td class="cart-item__totals right small-hide cart_price_padding_left">
                    <div class="loading-overlay hidden">
                      <div class="loading-overlay__spinner">
                        <svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                          <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
                        </svg>
                      </div>
                    </div>

                    <div class="cart-item__price-wrapper">
                      {%- if item.original_line_price != item.final_line_price -%}
                      <dl class="cart-item__discounted-prices">
                        <dt class="visually-hidden">
                          {{ 'products.product.price.regular_price' | t }}
                        </dt>
                        <dd>
                          <s class="cart-item__old-price price price--end">
                            <div class="pn-total-line-item" data-id="{{ item.key }}">{{ item.original_line_price | money }}</div>
                          </s>
                        </dd>
                        <dt class="visually-hidden">
                          {{ 'products.product.price.sale_price' | t }}
                        </dt>
                        <dd class="price price--end">
                          {{ item.final_line_price | money }}
                        </dd>
                      </dl>
                      {%- else -%}
                      <span class="price price--end">
                        <div class="pn-total-line-item" data-id="{{ item.key }}">{{ item.original_line_price | money }}</div>
                      </span>
                      {%- endif -%}

                      {%- if item.variant.available and item.unit_price_measurement -%}
                      <div class="unit-price caption">
                        <span class="visually-hidden">{{ 'products.product.price.unit_price' | t }}</span>
                        {{ item.variant.unit_price | money }}
                        <span aria-hidden="true">/</span>
                        <span class="visually-hidden">&nbsp;{{ 'accessibility.unit_price_separator' | t }}&nbsp;</span>
                        {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
                        {{- item.variant.unit_price_measurement.reference_value -}}
                        {%- endif -%}
                        {{ item.variant.unit_price_measurement.reference_unit }}
                      </div>
                      {%- endif -%}
                    </div>
                  </td>
                </tr>
                {%- endfor -%}
              </tbody>
            </table>
            {%- endif -%}
          </div>
        </div>
        <p class="visually-hidden" id="cart-live-region-text" aria-live="polite" role="status"></p>
        <p class="visually-hidden" id="shopping-cart-line-item-status" aria-live="polite" aria-hidden="true" role="status">{{ 'accessibility.loading' | t }}</p>
      </form>
    </div>  
	{% if cart != empty %}
    <div class="cart-content-right">
      <div class="page-width{% if cart == empty %} is-empty{% endif %}" id="main-cart-footer" data-id="template--14461142335530__cart-footer">
        <div class="cart_order_summery">
          <h2><span>Order summary</span></h2>
          <div>
            <div class="cart__footer">
              {%- if section.settings.show_cart_note -%}
              <cart-note class="cart__note field">
                <label for="Cart-note">{{ 'sections.cart.note' | t }}</label>
                <textarea class="text-area field__input" name="note" form="cart" id="Cart-note" placeholder="{{ 'sections.cart.note' | t }}">{{ cart.note }}</textarea>
              </cart-note>
              {%- endif -%}

              <div class="cart__blocks">
                {% for block in section.blocks %}
                {%- case block.type -%}
                {%- when '@app' -%}
                {% render block %}
                {%- when 'subtotal' -%}             

                <div class="js-contents" {{ block.shopify_attributes }}>
                  <div class="totals">
                    <h3 class="totals__subtotal" id="totals__subtotal">{{ 'sections.cart.subtotal' | t }}</h3>
                    <p class="totals__subtotal-value" id="totals__subtotal-value">{{ cart.total_price | money_with_currency }}</p>
                  </div>

                  <div>
                    {%- if cart.cart_level_discount_applications.size > 0 -%}
                    <ul class="discounts list-unstyled" role="list" aria-label="{{ 'customer.order.discount' | t }}">
                      {%- for discount in cart.cart_level_discount_applications -%}
                      <li class="discounts__discount discounts__discount--position">
                        {%- render 'icon-discount' -%}
                        {{ discount.title }}
                        (-{{ discount.total_allocated_amount | money }})
                      </li>
                      {%- endfor -%}
                    </ul>
                    {%- endif -%}
                  </div>

                  {% comment %}
                  <small class="tax-note caption-large rte">
                    {%- if cart.taxes_included and shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_included_and_shipping_policy_html' | t: link: shop.shipping_policy.url }}
                    {%- elsif cart.taxes_included -%}
                    {{ 'sections.cart.taxes_included_but_shipping_at_checkout' | t }}
                    {%- elsif shop.shipping_policy.body != blank -%}
                    {{ 'sections.cart.taxes_and_shipping_policy_at_checkout_html' | t: link: shop.shipping_policy.url }}
                    {%- else -%}
                    {{ 'sections.cart.taxes_and_shipping_at_checkout' | t }}
                    {%- endif -%}
                  </small>
                  {% endcomment %}
                </div>

                <div class="postcode-check-wrapper">
                  <div id="csv-display-cart">
                    <div class="postcode-inner-grid">
                      <h3>Delivery to <span class="text-underlined">VIC METRO,3000 </span> <span class="edit-postcd"><i class="fas fa-pencil-alt"></i></span></h3>
                      <p><span id="wrapper-response"></span></p>  
                    </div>
                    <div class="shiping_with_deliverd_cart" style="display:none;">
                      <div class="delivery_date_check">
                        <p>Guarantee Delivery Date <span class="delivery_date_tooltip" tooltip="Expect Delayed delivery on top of the delivery timeframe due to the current spikes of Covid cases and flood.">?</span> <span class="exect_date">December 14 - December 21 </span></p>
                      </div>  
                    </div> 
                  </div>
                  <div class="postcode-ck-form" style="display:none;">
                    <form id="post_check_form_cart">
                      <div class="form-group">
                        <input type="text" name="post_check_cart" id="post_check_cart" class="form-control" placeholder="Enter Postcode" value="3000" required>
                        <button type="submit" class="form-icon"><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/Search.png?v=1647243281"></button>
                      </div>
                    </form>
                    <div class="post_code_error_cart" style="display:none;"><svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8.5727 3.21665L1.51436 15C1.36884 15.252 1.29184 15.5377 1.29102 15.8288C1.29021 16.1198 1.36561 16.4059 1.50972 16.6588C1.65383 16.9116 1.86164 17.1223 2.11245 17.2699C2.36327 17.4174 2.64836 17.4968 2.93936 17.5H17.056C17.347 17.4968 17.6321 17.4174 17.8829 17.2699C18.1338 17.1223 18.3416 16.9116 18.4857 16.6588C18.6298 16.4059 18.7052 16.1198 18.7044 15.8288C18.7036 15.5377 18.6266 15.252 18.481 15L11.4227 3.21665C11.2741 2.97174 11.065 2.76925 10.8154 2.62872C10.5658 2.48819 10.2841 2.41437 9.9977 2.41437C9.71125 2.41437 9.42964 2.48819 9.18004 2.62872C8.93043 2.76925 8.72126 2.97174 8.5727 3.21665V3.21665Z" stroke="#DA1E28" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M10 7.5V10.8333" stroke="#DA1E28" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                      <path d="M10 14.1667H10.0083" stroke="#DA1E28" stroke-width="1.33333" stroke-linecap="round" stroke-linejoin="round"/>
                      </svg><span>We could not find the postcode you entered</span></div>
                  </div>
                </div>
                <div class="discount_copon_code_value totals">                 
                </div>
                 <div class="totals">
                    <h3 class="totals__subtotal total_cost_item" id="totals__subtotal_item">Total</h3>
                    
                    <p class="totals__subtotal-value_"  id="totals__subtotal-value_" data-price="{{ cart.total_price | money_without_currency }}">{{ cart.total_price | money_with_currency }}</p>
                  </div>	
                {%- else -%}
                <div class="cart__ctas" {{ block.shopify_attributes }}>
                  <noscript>
                    <button type="submit" class="cart__update-button button button--secondary" form="cart">
                      {{ 'sections.cart.update' | t }}
                    </button>
                  </noscript>

                  <button type="submit" id="checkout" class="cart__checkout-button button" name="checkout"{% if cart == empty %} disabled{% endif %} form="cart">
                    {{ 'sections.cart.checkout' | t }}
                  </button>

                </div>
                {% render 'snippet-gf-discount-code' %}     
                {%- if additional_checkout_buttons -%}
                <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                  {{ content_for_additional_checkout_buttons }}
                </div>
                {%- endif -%}
				{% assign new_prids = cart.total_price | divided_by: 4 %}
                
                <div class="product_payement_logo">
                  <span>{{ new_prids | money_with_currency }} fornightly with: </span><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/Payment_b88b9bc4-6cd0-4745-ac2d-1fe536a6091e.png?v=1647932174" alt="Klarna Logo"/></span><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/Payment_bbf4d1bd-7bfd-4e94-a955-94d6ae5fc74c.png?v=1647932137" alt="Afterpay Logo"/></span><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/Payment.png?v=1647932118" alt="zip"/></span> 
                </div> 
              
                {%- endcase -%}
                {% endfor %}

                <div id="cart-errors"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="product-partners-logo mobile_partner_logo" style="display:none;">
          <p><span><svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M9.11111 7H2.88889C2.39797 7 2 7.56982 2 8.27273V12.7273C2 13.4302 2.39797 14 2.88889 14H9.11111C9.60203 14 10 13.4302 10 12.7273V8.27273C10 7.56982 9.60203 7 9.11111 7Z" fill="#282828" stroke="#282828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
<path d="M3.5 6V4.5C3.5 3.83696 3.76339 3.20107 4.23223 2.73223C4.70107 2.26339 5.33696 2 6 2C6.66304 2 7.29893 2.26339 7.76777 2.73223C8.23661 3.20107 8.5 3.83696 8.5 4.5V6" stroke="#282828" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
</svg>
</span>Secure Payment Verified by</p>
          <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/partners_logo.png?v=1653036527"></span>
        </div>
        <div class="cart_togther_sec">
           <h3>Together for the World</h3>
           <p>1% of the profits will be donated to Habitat for Humanity</p>
           <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/image_142.png?v=1653035811" alt=""/></span>
        </div>
        <div class="product-partners-logo">
          <p>Secure Payment Verified by</p>
          <span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/partners_logo.png?v=1653036527"></span>
        </div>
      </div>
    </div>
    {% endif %}
   </div>
    
  </cart-items>
  <script type="searchspring/personalized-recommendations" profile="view-cart"></script>

 {% render 'shipping-calculator' %}

</div>
{% render 'free-gift-inject' %}

{% javascript %}
  class CartNote extends HTMLElement {
    constructor() {
      super();

      this.addEventListener('change', debounce((event) => {
        const body = JSON.stringify({ note: event.target.value });
        fetch(`${routes.cart_update_url}`, {...fetchConfig(), ...{ body }});
      }, 300))
    }
  }

  customElements.define('cart-note', CartNote);
{% endjavascript %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function isIE() {
      const ua = window.navigator.userAgent;
      const msie = ua.indexOf('MSIE ');
      const trident = ua.indexOf('Trident/');

      return (msie > 0 || trident > 0);
    }

    if (!isIE()) return;
    const cartSubmitInput = document.createElement('input');
    cartSubmitInput.setAttribute('name', 'checkout');
    cartSubmitInput.setAttribute('type', 'hidden');
    document.querySelector('#cart').appendChild(cartSubmitInput);
    document.querySelector('#checkout').addEventListener('click', function(event) {
      document.querySelector('#cart').submit();
    });
  });
</script>

{% schema %}
{
  "name": "t:sections.main-cart-items.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-cart-items.settings.show_vendor.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    },
	{
      "type": "textarea",
      "id": "cart_notice",
      "label":"Cart Notice Text",
      "info": "Please add text to display in cart page notice area"
    },
	{
      "type": "text",
      "id": "cart_timer",
      "label":"Cart item hide date",
      "info": "Please add date in this format mm/dd/yyyy"
    },
	{
      "type":"color",
      "id":"notice_bg",
      "label":"Background Color",
      "default":"#fff"
    },
	{
      "type": "checkbox",
      "id": "show_cart_note",
      "default": false,
      "label": "t:sections.main-cart-footer.settings.show_cart_note.label"
    }
  ],
  "blocks": [
    {
      "type": "subtotal",
      "name": "t:sections.main-cart-footer.blocks.subtotal.name",
      "limit": 1
    },
    {
      "type": "buttons",
      "name": "t:sections.main-cart-footer.blocks.buttons.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ]		
}
{% endschema %}
