{% if section.blocks and section.blocks != blank %}
<div class="mattress_collection_compare_slider_section">
<div class="container">
{% if section.settings.heading != blank %}
<div class="section_heading">
<h2>{{ section.settings.heading}}</h2>
</div>  
{% endif %}
<div class="mattress_collection_compare_slider">
<div class="mattress_compare_left_col">
<div class="mattress_compare_image_slider">
{% for block in section.blocks %}
{% if block.settings.mattress_image != blank and block.settings.slide_title != blank %}
<div class="mattress_compare_slider_item">
<img src="{{ block.settings.mattress_image | img_url:"master"}}" alt=""/>
{% if block.settings.scale_image != blank %}
<img src="{{ block.settings.scale_image  | img_url:"master" }}" alt=""/>
{% endif %}


{% if block.settings.buttonlink != blank %}
<div class="compare_link_button">
<a href="{{ block.settings.buttonlink }}">{{ block.settings.buttonlabel }}</a> 
</div> 
{% endif %}



</div>  
{% endif %}
 


{% endfor %}
</div>  
</div> 
<div class="mattress_compare_right_col">
<div class="mattress_compare_content_slider">
{% for block in section.blocks %}
{% if block.settings.mattress_image != blank and block.settings.slide_title != blank  %}
<div class="mattress_compare_content_item">
<h3> {{block.settings.slide_title}} </h3>
{% if block.settings.slide-content != blank %}
<p>{{ block.settings.slide-content }}</p>
{% endif %}
<p> </p>
{% if block.settings.buttonlink != blank %}
<div class="compare_link_button">
<a href="{{ block.settings.buttonlink }}">{{ block.settings.buttonlabel }}</a> 
</div> 
{% endif %}
 

</div>  
{% endif %}

{% endfor %}
</div>

</div>
</div>  
</div>  
</div>
{% endif %}
{% schema %}
{
"name": "Mattress Compare Silder",
"settings": [
{
"type":"text",
"id":"heading",
"label":"Heading"
}

],
"blocks": [
{
"type": "slide_item",
"name": "Slider Item",
"settings": [
{
"type": "text",
"id": "slide_title",
"label": "Title"
},
{
"type": "textarea",
"id": "slide-content",
"label": "Description"
},
{
"type": "image_picker",
"id": "mattress_image",
"label": "Mattress Image"
},
{
"type": "image_picker",
"id": "scale_image",
"label": "Mattress Scale Image"
},
{
"type":"text",
"id":"buttonlabel",
"label":"Button Label",
"default":"Compare All"	
},
{
"type":"url",
"id":"buttonlink",
"label":"Button Link"	
}
]
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
