{% comment %}theme-check-disable UndefinedObject{% endcomment %}
<link rel="stylesheet" data-href="{{ 'section-footer.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-newsletter.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-list-menu.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-list-payment.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-list-social.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'component-rte.css' | asset_url }}">
<link rel="stylesheet" data-href="{{ 'disclosure.css' | asset_url }}">

<noscript>{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-menu.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-payment.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-list-social.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'disclosure.css' | asset_url | stylesheet_tag }}</noscript>

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<footer class="footer footer-mobile color gradient section-{{ section.id }}-padding" style="background-color:{{ section.settings.footer_color }}">
  {%- if section.blocks.size > 0 or section.settings.newsletter_enable or section.settings.show_social -%}
    <div class="footer__content-top">
      {%- if section.blocks.size > 0 -%}
        {%- liquid
          if section.blocks.size == 9
            assign footer_grid_class = 'grid--3-col-tablet'
          elsif section.blocks.size > 6
            assign footer_grid_class = 'grid--4-col-desktop'
          elsif section.blocks.size > 4
            assign footer_grid_class = 'grid--3-col-tablet'
          endif
        -%}
        <div class="footer__blocks-wrapper grid">
          {%- for block in section.blocks -%}
            <div class="footer-block grid__item{% if block.type == 'about_us' or block.type == 'help' or block.type == 'categories' and block.settings.heading != blank %} footer-block--menu{% endif %}" {{ block.shopify_attributes }}>
              {%- if block.settings.heading != blank -%}
              <h2 class="footer-block__heading_mobile">{{- block.settings.heading | escape -}}  <span class="open-foo-nav"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 5V19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M12 5V19" stroke="#758068" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M5 12H19" stroke="#758068" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </svg></span></h2>
              {%- endif -%}
 
              {%- case block.type -%}
                {%- when 'text' -%}
                  <div class="footer-block__details-content rte">
                      {%- if block.settings.image != blank -%}
                      <div class="footer-logo-grid">
                        <a href="/"><img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{ block.settings.image | img_url: 'master' }}" alt="logo"></a>
                      </div>
                      {%- endif -%}
                      {%- if block.settings.subtext != blank -%}
                      <div class="footer_text">
                        {{ block.settings.subtext }}
                      </div>
                      {%- endif -%}
                      {% if block.settings.newsletter_enable%}
                        <div class="newsletter-custom-footer" id="newsletterfooter">
                          <!--<div class="klaviyo-form-SC9sUw"></div> -->
                          <div class="klaviyo-form-WHfKJf"></div>
                      </div>
                    	
                  	  {% endif %}	
                    	
                   	  <div class="d-flex justify-content-between">	
                        <div class="footer-social-icons">
                          {%- if block.settings.show_social -%}
                            <ul class="footer__list-social list-unstyled list-social" role="list">
                              {%- if settings.social_twitter_link != blank -%}
                              <li class="list-social__item">
                                <a href="{{ settings.social_twitter_link }}" class="link list-social__link" >
                                  {%- render 'icon-twitter' -%}
                                  <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
                                </a>
                              </li>
                              {%- endif -%}
                              {%- if settings.social_facebook_link != blank -%}
                              <li class="list-social__item">
                                <a href="{{ settings.social_facebook_link }}" class="link list-social__link" >
                                  {%- render 'icon-facebook' -%}
                                  <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
                                </a>
                              </li>
                              {%- endif -%}
                              {%- if settings.social_pinterest_link != blank -%}
                              <li class="list-social__item">
                                <a href="{{ settings.social_pinterest_link }}" class="link list-social__link" >
                                  {%- render 'icon-pinterest' -%}
                                  <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
                                </a>
                              </li>
                              {%- endif -%}
                              {%- if settings.social_instagram_link != blank -%}
                              <li class="list-social__item">
                                <a href="{{ settings.social_instagram_link }}" class="link list-social__link" >
                                  {%- render 'icon-instagram' -%}
                                  <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
                                </a>
                              </li>
                              {%- endif -%}
                              {%- if settings.social_tiktok_link != blank -%}
                              <li class="list-social__item">
                                <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" >
                                  {%- render 'icon-tiktok' -%}
                                  <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
                                </a>
                              </li>
                              {%- endif -%}
                              {%- if settings.social_tumblr_link != blank -%}
                              <li class="list-social__item">
                                <a href="{{ settings.social_tumblr_link }}" class="link list-social__link" >
                                  {%- render 'icon-tumblr' -%}
                                  <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
                                </a>
                              </li>
                              {%- endif -%}
                              {%- if settings.social_snapchat_link != blank -%}
                              <li class="list-social__item">
                                <a href="{{ settings.social_snapchat_link }}" class="link list-social__link" >
                                  {%- render 'icon-snapchat' -%}
                                  <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
                                </a>
                              </li>
                              {%- endif -%}
                              {%- if settings.social_youtube_link != blank -%}
                              <li class="list-social__item">
                                <a href="{{ settings.social_youtube_link }}" class="link list-social__link" >
                                  {%- render 'icon-youtube' -%}
                                  <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
                                </a>
                              </li>
                              {%- endif -%}
                              {%- if settings.social_vimeo_link != blank -%}
                              <li class="list-social__item">
                                <a href="{{ settings.social_vimeo_link }}" class="link list-social__link" >
                                  {%- render 'icon-vimeo' -%}
                                  <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
                                </a>
                              </li>
                              {%- endif -%}

                            </ul>
                           {%- endif -%}	
                        </div>
                        <div class="footer-ext-img">
                           {% if block.settings.footer_img != blank %}
                          		<img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{block.settings.footer_img | img_url: 'master'}}">
                           {% endif %}
                        </div>
             		 </div>
                  </div>
         
              	{%- when 'about_us' -%}
              		<div class="footer-block__details-content footer-about-us">
                      	{%- if block.settings.menu != blank -%}
                          <ul class="footer-block__details-content list-unstyled">
                            {%- for link in block.settings.menu.links -%}
                              <li>
                                <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                                  {{ link.title }}
                                </a>
                              </li>
                            {%- endfor -%}
                          </ul>
                        {%- endif -%}
            		</div>
              
            	{%- when 'categories' -%}
                  <div class="footer-block__details-content footer-categories">
                    {%- if block.settings.menu_cat != blank -%}
                    <ul class="footer-block__details-content list-unstyled">
                      {%- for link in block.settings.menu_cat.links -%}
                      <li>
                        <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                          {{ link.title }}
                        </a>
                      </li>
                      {%- endfor -%}
                    </ul>
                    {%- endif -%}
                  </div>
              
              	{%- when 'help' -%}
                  <div class="footer-block__details-content footer-help">
                    {%- if block.settings.menu_help != blank -%}
                    <ul class="footer-block__details-content list-unstyled">
                      {%- for link in block.settings.menu_help.links -%}
                      <li>
                        <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                          {{ link.title }}
                        </a>
                      </li>
                      {%- endfor -%}
                    </ul>
                    {%- endif -%}
                    
                    {%- if block.settings.cause_heading != blank -%}
                   		 <h2 class="footer-block__heading">{{block.settings.cause_heading}}</h2>
                    {%- endif -%}
                    
                    {% if block.settings.cause_image != blank %}
                    	<img class="lazy2" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=" data-src="{{block.settings.cause_image | img_url: 'master'}}">
                    {% endif %}

                  </div>
              
              	{%- when 'newsletter' -%}
                  <div class="footer-block__details-content newsleter">
                   	{%- if block.settings.newsletter_text != blank -%}
                    	<div class="newsletter-content">
                          {{block.settings.newsletter_text}}
                    	</div>
                    {%- endif -%}
                  </div>
              
                {%- endcase -%}
            </div>
          {%- endfor -%}
        </div>
      {%- endif -%}
    </div>
  	
  {% if section.settings.newsletter_copyright %}
    <div class="footer__content-bottom">
      <div class="footer__content-bottom-wrapper page-width">
        <div class="footer__column footer__localization isolate">
          <div class="footer__copyright caption">
            <small class="copyright__content">&copy; Copyright {{ 'now' | date: "%Y" }} <a href="https://lifely.com.au/pages/about-us">Lifely</a>. All Rights Reserved.</small>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  
  {%- endif -%}
</footer>

{% schema %}
{
  "name": "Mobile Footer",
  "blocks": [
	{
      "type": "about_us",
      "name": "About US",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "About US",
          "label": "Heading"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "Menu"
        }
      ]
    },
	{
      "type": "categories",
      "name": "Categories",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Categories",
          "label": "Heading"
        },
        {
          "type": "link_list",
          "id": "menu_cat",
          "default": "footer",
          "label": "Menu"
        }
      ]
    },
	{
      "type": "help",
      "name": "Help",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Help",
          "label": "Heading"
        },
        {
          "type": "link_list",
          "id": "menu_help",
          "default": "footer",
          "label": "Menu"
        }
      ]
    },
	{
      "type": "newsletter",
      "name": "Newsletter Grid",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Newsletter",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "newsletter_text",
          "label": "Newsletter Text"
        }
      ]
    },
    {
      "type": "text",
      "name": "Footer Text",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Footer Logo"
        },	
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share contact information, store details, and brand content with your customers.</p>",
          "label": "Subheading"
        },
		{
          "type": "checkbox",
          "id": "show_social",
          "default": false,
          "label": "Show Social Icon"
        },
		{
          "type": "checkbox",
          "id": "newsletter_enable",
          "default": true,
          "label": "Enable Newsletter"
        },
		{
          "type": "text",
          "id": "newsletter_heading",
          "default": "Subscribe to our emails",
          "label": "Newsletter heading"
        },
        {
          "type": "text",
          "id": "newsletter_subheading",
          "label": "Newsletter Subheading"
        },
		{
          "type": "image_picker",
          "id": "footer_img",
          "label": "Add Image"
        }
		
      ]
    }
  ],
  "settings": [
    {
      "type": "color",
      "id": "footer_color",
      "default": "#000",
      "label": "Footer Background"
    },
 	{
      "type": "checkbox",
      "id": "newsletter_copyright",
      "default": true,
      "label": "Enable Copyright"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
