{% assign heading = product.metafields.arena.additional_heading  %}
{% assign content = product.metafields.arena.content %}
{% assign icon = product.metafields.arena.heading_icon %}

{% assign material_certificate = product.metafields.arena.material-certification %}
{% assign assembly_care = product.metafields.arena.assembly-care %}
{% assign product_dimension = product.metafields.arena.product-dimension %}
{% assign delivery_return = product.metafields.arena.delivery-return %}

{% if heading != blank or material_certificate != blank or assembly_care != blank or product_dimension != blank or delivery_return != blank %}
	<div class="product-additional-info page-width">
      	{% if template.suffix == 'deepdream' %}
      		<div class="container">
      	{% endif %}
            <div class="sechead">
                <h3>Product details</h3>  
            </div>
            <div class="additional-info-con row">
               <div class="col-md-6 col-sm-12">          
                  {% if material_certificate != blank %}
                     <h4><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/materials_dee748eb-bd12-4281-97ba-6d2ddce019ab.png?v=1653890021"></span> Specifications</h4>	
                     {{material_certificate}}	
                  {% endif %}

                  {% if assembly_care != blank %}
                      <h4><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/Tool_fa367f93-037d-41c1-8b33-2b50d7cdf7d0.png?v=1653890021"></span> Assembly & Care </h4>	
                     {{assembly_care}}		
                  {% endif %}

                </div>  
                <div class="col-md-6 col-sm-12">
                  {% if product_dimension != blank %}
                  <h4><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/Ruler_16a3957a-5ae8-45f9-bb7f-0642d61f1174.png?v=1653890021"></span> Product Dimensions </h4>	
                  {{product_dimension}}		
                  {% endif %}

                  {% if delivery_return != blank %}
                  <h4><span><img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/Truck_bcdef9ef-b29f-42e7-88ea-a272cdfd2318.png?v=1653890021"></span> Delivery & Return </h4>	
                  {{delivery_return}}		
                  {% endif %}
                </div>
              
              {% comment %}
              {% for h in heading %}
                {% assign index = forloop.index0 %}

                {% if index == 0 or index == 2 %}
                    <div class="col-md-6 col-sm-12">
                {% endif %}
                <h4><span><img src="{{icon[index]}}"></span> {{h}}</h4>
                {{content[index]}}
                     
                {% if index == 1 or index == 3 %}
                    </div>
                {% endif %}      
              {% endfor %}
              
              {% endcomment %}
              
           </div>
        {% if template.suffix == 'deepdream' %}
      		</div>
      	{% endif %}
	</div>
{% endif %}
 {%- render 'mobile_product_detail' -%}
{% schema %}
  {
    "name": "Product Detail",
    "settings": []
  }
{% endschema %}