{% if section.settings.banner_heading != blank %}
	
	{% if section.settings.banner_heading != blank %}
		{% assign bg_color = section.settings.background %} 
	{% else %}
		{% assign bg_color = '#fff' %} 
    {% endif %}
	<style>
          {% if section.settings.heding_bg_image != blank %}
              .banner_heading_section{
                position:relative;
              }
              .banner_heading_section:after {
                content: "";
                background: url({{ section.settings.heding_bg_image | img_url:'master' }});
                height: 100%;
                width: 227px;
                position: absolute;
                bottom: 0;
                right: -15%;
                background-repeat: no-repeat;
                background-size: contain;
              }
          {% endif %}
      	  .clearance_banner_bar {
              padding: 13px 0px;
              background: {{  section.settings.bar_background }};
              font-family: 'Gellix';
              color: {{ section.settings.bar_font}};
          }
      	  .clearance_banner {
              color: {{ section.settings.banner_font}};
              font-family: 'Gellix';
          } 
          .clearance_banner_bar {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            z-index: 9999999;
            display:none;
        }
  </style> 
		<div class="mobile_collection_breadcrumb collection-breadcrumb">
        <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
          <ol class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="/">Home</a>
            </li>
            {%- case t -%}
            {%- when 'page' -%}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ page.url }}" aria-current="page">{{ page.title }}</a>
            </li>
            {%- when 'product' -%}

            {% assign product_collection = product.collections.first %}
            {% if product_collection %}
            {% for c in product.collections %}
            {% if c.title != 'Best Seller' %}
            {%- if c.url -%}
            <li class="breadcrumbs__item">
              {{ c.title | link_to: c.url }}
            </li>
            {%- endif -%}
            {% endif %}
            {% endfor %}			

            {% endif %}

            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ product.url }}" aria-current="page">{{ product.title }}</a>
            </li>
            {%- when 'collection' and collection.handle -%}
            {%- if current_tags -%}
            <li class="breadcrumbs__item">
              {{ collection.title | link_to: collection.url }}
            </li>
            <li class="breadcrumbs__item">
              {%- capture tag_url -%}{{ collection.url }}/{{ current_tags | join: "+"}}{%- endcapture -%}
              <a class="breadcrumbs__link" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + "}}</a>
            </li>
            {%- else -%}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ collection.url }}" aria-current="page">{{ collection.title }}</a>
            </li>
            {%- endif -%}
            {%- when 'blog' -%}
            {%- if current_tags -%}
            <li class="breadcrumbs__item">
              {{ blog.title | link_to: blog.url }}
            </li>
            <li class="breadcrumbs__item">
              {%- capture tag_url -%}{{blog.url}}/tagged/{{ current_tags | join: "+" }}{%- endcapture -%}
              <a class="breadcrumbs__link" href="{{ tag_url }}" aria-current="page">{{ current_tags | join: " + " }}</a>
            </li>
            {%- else -%}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ blog.url }}" aria-current="page">{{ blog.title }}</a>
            </li>
            {%- endif -%}
            {%- when 'article' -%}
            <li class="breadcrumbs__item">
              {{ blog.title | link_to: blog.url }}
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="{{ article.url }}" aria-current="page">{{ article.title }}</a>
            </li>
            {%- else -%}
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link" href="/" aria-current="page">{{ section.settings.banner_heading }}</a>
            </li>
            {%- endcase -%}
          </ol>
        </nav>
  </div>
	<div class="clearance_banner" style="background:{{bg_color}}">
		<div class="page-width">
			<div class="clearance_banner_container">
          		<div class="clearance_breadcrumbs">
                  <nav class="breadcrumbs" role="navigation" aria-label="breadcrumbs">
                      <ol class="breadcrumbs__list">
                        <li class="breadcrumbs__item">
                          <a class="breadcrumbs__link" href="/">Home</a>
                        </li>
                        <li class="breadcrumbs__item">
                          {% if collection.title != blank and collection.title != 'Products' %}
                             <span class="curent_page">{{- collection.title | escape -}}</span>
                          {% elsif collection.title == 'Products' %}
                          		 <span class="curent_page">Shop</span>
                          {% else %}
                             <span class="curent_page">{{ section.settings.banner_heading }}</span>
                          {% endif %} 
                          
                        </li>                        
                      </ol>
                    </nav>
              	</div>  
              	<div class="clearance_banner_content">
                  	<div class="banner_heading_section">
                      {% if collection.title != blank and collection.title != 'Products' %}
                      
                      	{{section.settings| json}}
                      
                      	<h1>{% if section.settings.heding_bf_image != blank %} <img src="{{section.settings.heding_bf_image}}" alt="icon"> {% endif%} {{- collection.title | escape -}} {% if section.settings.heding_image != blank %}<sup><img src="{{section.settings.heding_image | img_url:'master' }}" alt=""></sup>{% endif %}</h1>
                      {% else %}
                      	 <h1>{{ section.settings.banner_heading }} {% if section.settings.heding_image != blank %}<sup><img src="{{section.settings.heding_image | img_url:'master' }}" alt=""></sup>{% endif %}</h1>
                      {% endif %}                      
                      <p>{{ section.settings.banner_subheading }}</p>
                      {% if section.settings.mobile_description != blank %}
                      	<div class="banner_mobile_content" style="display:none;">
                      		{{ section.settings.mobile_description }}
                          	{% if section.settings.mobile_more_description != blank %}
                          		<div class="banner_mobile_more_content" style="display:none;">
                          			{{ section.settings.mobile_more_description }}
                          		</div>  
                         		 <button class="banner_more_content">Read More</button>
                            {% endif %}
                      	</div>  
                      {% endif %}
                  	</div>                   
              	</div>
          	</div>  
      	</div>  
	</div> 

{% endif %}
{% schema %}
  {
    "name": "Banner",
    "settings": [
        {
			"type":"text",
			"id":"banner_heading",
			"label":"Heading"
        },
		{
			"type":"textarea",
			"id":"banner_subheading",
			"label":"Sub heading"
        },
		{
			"type":"richtext",
			"id":"mobile_description",
			"label":"Mobile Content"
        },
		{
			"type":"richtext",
			"id":"mobile_more_description",
			"label":"Mobile More Content"
        },
		{
			"type":"color",
			"id":"background",
			"label":"Background Color",
			"default":"#fff"
        },
		{
			"type":"color",
			"id":"banner_font",
			"label":"Banner Font Color",
			"default":"#000"
        },
		{
			"type":"image_picker",
			"id":"heding_bf_image",
			"label":"Icon Before Heading"
        },
		{
			"type":"image_picker",
			"id":"heding_image",
			"label":"Icon After Heading"
        },
		{
			"type":"image_picker",
			"id":"heding_bg_image",
			"label":"Icon After Heading"
        }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
