{% if section.blocks.size > 0 and section.settings.show_cat_grid %}
	<div class="shop_category_grid">
		<div class="page-width">
      		<div class="shop_cat_grid_inner">
              <h2>{{ section.settings.heading }}</h2>
              <div class="shop_cat_grid">
                  {%- for block in section.blocks -%}
                     {% if block.settings.icon_image != blank and block.settings.title != blank %}
                        <div class="shop_cat_grid_item">
                            <a href="{{ block.settings.link }}">
                                <div class="category_slider_image">
                                  <img src="{{ block.settings.icon_image | img_url:"master" }}" alt="{{ block.settings.title }}"/>
                                 </div>  
                              <div class="cat_title"><h3>{{ block.settings.title }}</h3></div>                            </a>    
                        </div> 
                    {% endif %}
                  {% endfor %} 
              </div>  
           </div> 
      	</div>  
	</div>  
{% endif %}
{% schema %}
  {
    "name": "Category Grid",
    "settings": [
		{
		  "type":"text",
		  "id":"heading",
		  "label":"Heading"
		},
		{
		  "type":"checkbox",
		  "id":"show_cat_grid",
		  "label":"Show Category Grid"
		}
	],
	"blocks": [
        {
          "type": "image-slide",
          "name": "Category",
          "settings": [
			{
              "type": "image_picker",
              "id": "icon_image",
              "label": "Category Image"    
             },
			 {
              "type": "text",
              "id": "title",
              "label": "Category Name"    
             },
			 {
              "type": "url",
              "id": "link",
              "label": "Category Link"    
             }
          ]
        }
      ]	
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
