{% if section.blocks and section.settings %}
	<section class="benefits_section hide-on-mobile">
		<div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto">
              <div class="head text-center">
              	{% if section.settings.section_heading != blank %}
                	<h2>{{ section.settings.section_heading }}</h2>
                {% endif %}
                {% if section.settings.subheading != blank %}
                	<p>{{ section.settings.subheading }}</p>
                {% endif %}
              </div>
            </div>
          </div>
          {% if section.blocks != blank %}
            <div class="benefits">
              <div class="row">
				{% for block in section.blocks %}
                	<div class="col-lg-3 col-md-6 benefits-col">
                		{% if block.settings.grid_image != blank or block.settings.title != blank or block.settings.text %}
                         	<div class="banefit-card">
                              {% if block.settings.grid_image != blank %}
                              	<img src="{{ block.settings.grid_image | img_url: 'master' }}" class="img-fluid" alt="{{ block.settings.grid_image.alt }}">
                              {% endif %}
                              {% if block.settings.title != blank %}
                              	<h3>{{ block.settings.title }}</h3>
                              {% endif %}
                              {% if block.settings.text != blank %}
                              	<p>{{ block.settings.text }}</p>
                              {% endif %}
                            </div>
                        {% endif %}
                	</div>
                {% endfor %}
              </div>
            </div>
          {% endif %}
      	</div>
	</section>

	<section class="benefits_section_mobile hide-on-desktop" style="background:{% if section.settings.mobile_bgcolor != blank %}{{section.settings.mobile_bgcolor}}{% endif%}">
      	<div class="container">
          	<div class="benefits-head">
            	{% if section.settings.section_heading != blank %}
              		<h3>{{section.settings.section_heading }}</h3>
              	{% endif %}
              	{% if section.settings.subheading != blank %}
              		<p>{{section.settings.subheading}}</p>
              	{% endif %}
          	</div>
          
            <div class="benefits_accordion">
              {% if section.blocks != blank %}
              <div id="accordion"> 
                {% for block in  section.blocks %}
                {% if block.settings.title != blank and  block.settings.text != blank %}  
                <div class="card">
                  <div class="card-header" id="heading{{ forloop.index }}">
                    <h5 class="mb-0">
                      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse{{ forloop.index }}" aria-expanded="false" aria-controls="collapseOne">
                         {% if block.settings.grid_image != blank %}
                            <img src="{{ block.settings.grid_image | img_url: 'master' }}" class="img-fluid" alt="{{ block.settings.grid_image.alt }}">
                        {% endif %} 
                        <span>{{ block.settings.title }} </span>
                        <img src="https://cdn.shopify.com/s/files/1/0562/7569/7706/files/Plus.png?v=1655123752" alt="icon">
                      </button>
                    </h5>
                  </div>
                  <div id="collapse{{ forloop.index }}" class="collapse" aria-labelledby="heading{{ forloop.index }}" data-parent="#accordion">
                    <div class="card-body">
                      {{ block.settings.text }}
                    </div>
                  </div>
                </div>
                {% endif %}
                {% endfor %}
              </div>
              {% endif %}
            </div> 
          
      	</div>
	</section>

{% endif %}
{% schema %}
  {
    "name": "Trade Benefits",
    "settings": [
        {
          "id": "section_heading",
          "type": "text",
          "label": "Section Heading"
        },
        {
          "id": "subheading",
          "type": "text",
          "label": "Section Subheading"
        },
        {
          "id": "mobile_bgcolor",
          "type" : "color",
          "label": "Mobile Background Color"
        }
	],
	"blocks": [
      {
        "type": "grid_box",
        "name": "Benefits",
        "settings": [
          {
            "type": "image_picker",
            "id": "grid_image",
            "label": "Image"    
           },
          {
            "type": "text",	
            "id": "title",
            "label": "Title"
          },
          {
            "id": "text",
            "type": "textarea",
            "label": "Description"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
