{% if section.blocks and section.blocks != blank %}
  <section class="view_home_popular_grid">
    <div class="view_home_popular_grid_inner">
      <div class="page-width">
        {% if section.settings.popular_grid_heading != blank %}
          <div class="popular-product-heading">
            <h2 class="text-center">{{section.settings.popular_grid_heading}}</h2>
          </div>
        {% endif %}
        
        <div class="view_products_grid">
          {% for block in section.blocks %}

              <div class="bestseller_product">
                {%- if block.settings.grid_product and block.settings.grid_product != empty -%}
                {%- liquid assign card_product = block.settings.grid_product -%}

                <div class="custom_product_wishlist">
                  {% render 'ZooomyListWishlistColl', product: card_product %}
                </div> 	
                {%- if card_product.featured_media -%}
                <div class="bestseller_product_image">                     
                  <img srcset="{%- if card_product.featured_media.width >= 165 -%}{{ card_product.featured_media | img_url: '165x' }} 165w,{%- endif -%}
                               {%- if card_product.featured_media.width >= 360 -%}{{ card_product.featured_media | img_url: '360x' }} 360w,{%- endif -%}
                               {%- if card_product.featured_media.width >= 533 -%}{{ card_product.featured_media | img_url: '533x' }} 533w,{%- endif -%}
                               {%- if card_product.featured_media.width >= 720 -%}{{ card_product.featured_media | img_url: '720x' }} 720w,{%- endif -%}
                               {%- if card_product.featured_media.width >= 940 -%}{{ card_product.featured_media | img_url: '940x' }} 940w,{%- endif -%}
                               {%- if card_product.featured_media.width >= 1066 -%}{{ card_product.featured_media | img_url: '1066x' }} 1066w,{%- endif -%}
                               {{ card_product.featured_media | img_url: 'master' }} {{ card_product.featured_media.width }}w"
                       src="{{ card_product.featured_media | img_url: '533x' }}"
                       sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 130 | divided_by: 4 }}px, (min-width: 990px) calc((100vw - 130px) / 4), (min-width: 750px) calc((100vw - 120px) / 3), calc((100vw - 35px) / 2)"
                       alt="{{ card_product.featured_media.alt | escape }}"
                       class="motion-reduce"
                       {% unless lazy_load == false %}loading="lazy"{% endunless %}
                       width="{{ card_product.featured_media.width }}"
                       height="{{ card_product.featured_media.height }}" >                            
                </div>
                {%- endif -%}

                {%  if card_product.metafields.product_discount.label != blank %}
                <div class="best_seller_discount_bar">
                  <span>{{ card_product.metafields.product_discount.label }}</span>
                </div>
                {% endif %}

                <div class="bestseller_card__content">
                  <div class="card__information">
                    <h3 class="card__heading{% if card_product.featured_media or settings.card_style == 'standard' %} h5{% endif %}">
                      <a href="{{ card_product.url | default: '#' }}" class="full-unstyled-link">
                        {{ card_product.title | escape }}
                      </a>
                    </h3>
                    <div class="card-information">
                      {%- if card_product.metafields.reviews.rating.value != blank -%}
                      {% liquid assign rating_decimal = 0
                         assign decimal = card_product.metafields.reviews.rating.value.rating | modulo: 1
                         if decimal >= 0.3 and decimal <= 0.7
                            assign rating_decimal = 0.5
                         elsif decimal > 0.7
                            assign rating_decimal = 1
                         endif %}

                      <div class="rating" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: card_product.metafields.reviews.rating.value, rating_max: card_product.metafields.reviews.rating.value.scale_max }}">
                        <span aria-hidden="true" class="rating-star color-icon-{{ settings.accent_icons }}" style="--rating: {{ card_product.metafields.reviews.rating.value.rating | floor }}; --rating-max: {{ card_product.metafields.reviews.rating.value.scale_max }}; --rating-decimal: {{ rating_decimal }};"></span>
                      </div>
                      <p class="rating-text caption">
                        <span aria-hidden="true">{{ card_product.metafields.reviews.rating.value }} / {{ card_product.metafields.reviews.rating.value.scale_max }}</span>
                      </p>
                      <p class="rating-count caption">
                        <span aria-hidden="true">({{ card_product.metafields.reviews.rating_count }})</span>
                        <span class="visually-hidden">{{ card_product.metafields.reviews.rating_count }} {{ "accessibility.total_reviews" | t }}</span>
                      </p>
                      {%- endif -%}

                      {% render 'bestseller-price', product: card_product, price_class: '' %}
                      
                      {% assign color_active = false %}
                      {% for option in card_product.options %}
                        {% if option == 'Color' %}
                          {% assign color_active = true %}
                        {% endif %}
                      {% endfor %}
                      {% if card_product.variants.size > 1 and color_active == true %}
                      <div class="collection_product_color_swatches">
                        <ul>
                          {% for option in card_product.options %}
                          {% if option == 'Color' %}
                          {% assign index = forloop.index0 %}
                          {% assign colorlist = '' %}
                          {% assign color = '' %}
                          {% for variant in card_product.variants %}
                          {% capture color %}
                          {{ variant.options[index] }}
                          {% endcapture %}

                          {% unless colorlist contains color %} 
                          <li class="Swatches-Color {{color | strip}}" value="{{color | strip}}" data-img="{%- if variant.featured_media != null -%} {{ variant.featured_media | img_url:'master' }} {% endif %}" data-orignel="{%- if card_product.featured_image != null -%}{{ card_product.featured_media | img_url: 'master' }}{% endif %}"><span></span></li>	
                          {% assign colorlist = tempList %}
                          {% endunless %}
                          {% endfor %}
                          {% endif %}
                          {% endfor %}
                        </ul>  
                      </div> 
                      {% endif %}
                      
                    </div>
                  </div>
                </div>	
                {% endif %}
              </div>
          
          {% endfor %}
        </div>

      </div>
    </div>
  </section>

{% endif %}
 
{% schema %}
  {
    "name": "Popular Products Grid",
     "settings": [
        {
       	 "id": "popular_grid_heading",
       	 "type": "text",
       	 "label": "Heading"
        },
		{
       	 "id": "grid_subheading",
       	 "type": "text",
       	 "label": "Subheading"
        },
        {
       	 "id": "grid_bg_color",
       	 "type": "color",
       	 "label": "Background Color"
        }
	],
	"blocks": [
    {
      "type": "product_box",
      "name": "Product Box",
      "settings": [
        {
          "type": "product",
          "id": "grid_product",
          "label": "Image"    
         }
      ]
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
